[2020-03-21 15:21] kannappanr commented on #1252
@halfshoe I have to install lot more packages to try this example out. One thing I noticed was that you should change `"github.com/minio/minio-go"` to `"github.com/minio/minio-go/v6"`

[2020-03-21 15:31] kannappanr commented on #1252
[code]
If you see if the above example, I saved the file in both cases and did a linux diff command on the saved files and did not find any difference.

Closing this issue here, please feel free to reach out to us at https://slack.min.io for further questions.

[2020-03-21 15:31] #1252 closed

[2020-03-24 09:59] Gorra007 commented on #1207
Thanks for the detailed information !

[2020-04-01 15:22] wozuo opened #1257 "downloading apk file from Go client seems to get corrupted"
Hi everyone, first of all I want to thank everybody involved with this project, great work!
Now to my problem:
I tried uploading a few different file types using the python minio client and then downloading the files with the go minio client. Every file type works fine, except .apk Android apps. At some point along the way they are corrupted.After uploading such an APK file, and then downloading i

[2020-04-01 17:25] harshavardhana commented on #1257
Most probably your code is not correct, please share the code.

[2020-04-01 18:40] wozuo commented on #1257
Hey thanks for answering, I'm not sure there is much room for mistakes and ZIP files for example work fine. But I'm uploading using the Python client like so:
[code]
And downloading via the go client like so:
[code]

[2020-04-01 18:41] harshavardhana commented on #1257
you are not closing the stream here @wozuo for both object and apk

[2020-04-01 18:56] wozuo commented on #1257
Ah sorry I forgot to include that in my sample code, but I have that in there as well. The APKs are still corrupted

[2020-04-01 20:14] kannappanr commented on #1257
@wozuo Do you have a sample APK file that you can upload here?

[2020-04-02 19:11] wozuo commented on #1257
Hey @kannappanr thanks for your response, the problem was the upload. After I discovered the APK files are also corrupted after downloading using the browser, I reexamined the Python upload code and found the problem. Thanks a lot to you both for helping!

[2020-04-02 19:11] #1257 closed

[2020-04-03 03:02] hanqingwu opened #1259 "retry.go goroutine channel leak in v6.0.51 ?"
when I do putObject, getObject , RemoveObject   about 440 times,    i  found gorountine always
 increase  in  retry.go  ,  and when i stop all action, then  I get the some goroutine profile about retry.go ,   goroutine not decrease  in retry.go .  And I check  the V6.0.50,   not  reproduce.

goroutine profile: total 293
288 @ 0x438630 0x406a1d 0x4067e5 0x7ff4db 0x4677f1
0x7ff4da	github.com/minio/m

[2020-04-03 04:11] harshavardhana commented on #1259
You need to pass context and cancel it @hanqingwu

But it shouldn't leak, because the retry should return. Please provide a goroutine profile let's look at it.

[2020-04-03 05:39] hanqingwu commented on #1259
[goroutine_profile.txt](https://github.com/minio/minio-go/files/4425218/goroutine_profile.txt)

[2020-04-03 05:40] hanqingwu commented on #1259
I do not call retry.go direct,  I  only use func PutObject , GetObjet and so on .

[2020-04-03 06:07] hanqingwu commented on #1259
and I add some debug info , so  I found some gorouine block in   Client.newRetryTimer.   go func  , maybe block by channel .

[2020-04-03 06:54] hanqingwu commented on #1259
when  PutObject, GetObject  Test more than 1000 times ,  goroutine increase to  more than 600

goroutine profile: total 632
619 @ 0x438630 0x406a1d 0x4067e5 0x7ff61e 0x4677f1
	0x7ff61d	github.com/minio/minio-go/v6.Client.newRetryTimer.func2+0x1ed	/home/wuhanqing/go/pkg/mod/github.com/minio/minio-go/v6@v6.0.51/retry.go:73

[2020-04-03 08:55] hanqingwu commented on #1259
[test_retry.txt](https://github.com/minio/minio-go/files/4425982/test_retry.txt)
This is my test.go ,  it can reproduce the issuse  only in v6.0.51

[2020-04-03 11:02] vadmeste commented on #1259
@hanqingwu is it possible for you to test this PR ? https://github.com/minio/minio-go/pull/1260

[2020-04-03 11:36] hanqingwu commented on #1259
ok,  i will test it . @vadmeste

[2020-04-03 12:19] hanqingwu commented on #1259
@vadmeste ,  I  have test it ,  It has been fixed by #1260.

[2020-04-03 13:20] vadmeste commented on #1259
Thanks, closing the issue then.

[2020-04-03 13:20] #1259 closed

[2020-04-05 21:45] ckoehn commented on #1246
This issue was already closed by #1250 and #1260.

[2020-04-05 21:46] #1246 closed

[2020-04-05 21:46] #1251 closed

[2020-04-08 14:44] HelmutLety opened #1264 "NoSuchBucket Error on backblaze gateway"
Hey, I don't know if this is an expected behaviour or a Bug. When putting an object using the minioClient.PutObject and ContentLength to -1 (unknown) we get a NoSuchBucket. This is only happening with ContentLength -1

## Expected Behavior

Putting Object with unknown File-size

## Current Behavior

Error "NoSuchBucket"

## Steps to Reproduce (for bugs)

1. Set up Minio with Backblaze B2 as backen

[2020-04-08 15:14] vadmeste commented on #1264
@HelmutLety could you write a simple code with only client.PutObject() and client.TraceOn(os.Stderr) and paste the debug output ?

[2020-04-08 15:25] HelmutLety commented on #1264
or course :

[code]
`

[2020-04-08 15:49] harshavardhana commented on #1264
B2 gateway is community is maintained, feel free to send a PR @HelmutLety

[2020-04-13 18:23] kannappanr commented on #1264
@HelmutLety Please feel free to send a PR to `minio` repo to fix this issue. Closing this issue in `minio-go` as this is just a client SDK

[2020-04-13 18:23] #1264 closed

[2020-04-16 17:11] gohilankit opened #1269 "Possible buffer overflow for streaming uploads"
When I set a custom part size and do a multi-part streaming upload, the buffer overflows when chunk size doesn't perfectly divide the part size.
E.g. When I'm streaming data in chunks of 3MB(over gRPC) for a 64MB part size, the buffer overflows.

What's possibly happening is that while copying the last chunk into buffer, there was some space left but it doesn't exactly fit the last part.

[code]

[2020-04-17 09:36] klauspost commented on #1269
Could you share your parameters sent to `PutObjectWithContext`?

[2020-04-17 18:02] gohilankit commented on #1269
@klauspost I'm using these params
[code]

where metadata is a map with filename, size and crc32 checksum.

[2020-04-17 18:09] cooperaj opened #1271 "Unable to BucketExistsWithContext() on AWS bucket if conditional IAM rules applied."
I'm setting up a backup bucket thats locked down for multiple user access. Each user should have a folder that they alone should have read/write access to.

I've defined this with a policy like this (terraform)

[code]

The BucketExistsWithContext function will fail with Access Denied with a policy like this. It looks like (after step through debugging) that the code makes a 'HTTP HEAD /' call to

[2020-04-17 18:17] harshavardhana commented on #1271
You need GetBucketLocation as well @cooperaj otherwise specify the correct region.

[2020-04-17 19:08] cooperaj commented on #1271
Nope, sorry. As the comment says this is a small part of the overall policy. In addition I have

[code]

Step debugging tells me that the getLocation call works just fine. It's the HEAD call afterwards that fails.

[2020-04-17 21:42] harshavardhana commented on #1271
Then you need to add HeadBucket @cooperaj

[2020-04-17 22:21] kannappanr commented on #1271
@cooperaj Your policy needs to have atleast `HeadBucket` allowed for that API to work. If you are not passing region, you also need `GetBucketLocation`. Please feel free to reach out to us at https://slack.min.io for further such questions

[2020-04-17 22:21] #1271 closed

[2020-04-18 04:04] harshavardhana commented on #1269
This is not possible the length returned by io.ReadFull() is greater than the buffer that was sent into it. , what is the reader implementation here @gohilankit ?

[2020-04-18 04:14] harshavardhana commented on #1269
This can only happen if your Reader implementation returns more bytes than the buffer supplied to the buffer

[code]

[2020-04-18 10:36] cooperaj commented on #1271
A previous iteration of this policy had s3:HeadBucket assigned to *. This also didn't work and was later removed as according to the AWS documentation HeadBucket is a part of ListBucket anyway (https://docs.aws.amazon.com/AmazonS3/latest/API/API_HeadBucket.html)

This policy is based mostly on this documentation https://aws.amazon.com/premiumsupport/knowledge-center/s3-folder-user-access/

[2020-04-18 18:01] harshavardhana commented on #1271
If it fails its not minio-go problem here @cooperaj you need to fix your policies appropriately.

Use client.TraceOn(os.Stderr) to see which calls fail, we need all those calls to be approved in your policy.

[2020-04-19 20:22] 4n70w4 commented on #593
v1.30.9 the same problem `seeker can't seek`

[2020-04-21 19:25] gohilankit commented on #1269
@harshavardhana My reader looks like this:
[code]

And my driver code uses a helper function(getChunks) to break file into chunks.

[2020-04-21 19:35] harshavardhana commented on #1269
There are quite a few bugs here @gohilankit your io.Reader implementation is not compatible with io.Reader spec which is causing this issue, it is has nothing to do with minio-go @gohilankit

If you look at the spec you will understand what you are missing.

[2020-04-21 19:40] gohilankit commented on #1269
Ok I will have a look at the specs.

But this works fine if you change the part size to 66MB keeping 3MB chunks, or keep 64MB part size with chunks of 2MB.
Basically the partsize should be exactly exactly divisible by chunk size, which is what I suggested in my previous comments.

[2020-04-21 19:45] harshavardhana commented on #1269
You don't need to use minio-go just write code where you pass 64MiB buffer to `io.ReadFull()` and see if your reader returns higher value than the buffer. If it does then your reader is buggy.

[2020-04-22 07:03] hebe9585 opened #1274 "file priority changed after downloaded from server"
file priority changed after downloaded from server
## Expected Behavior

we used the interface  FPutObject to upload file to server and used FGetObject to download file to local. There was a found that the file's priority on local which was going to be uploaded was -rw-r--r--. After uploaded to server, checked it on server, it's still -rw-r--r--.
when downloaded from server to local, we think the

[2020-04-22 10:02] klauspost commented on #1269
[code]
As mentioned you never check if the size of `d` can hold all of p. In that case the copy will copy less bytes, but you return the length of p as the number of bytes copied, which is wrong.

[2020-04-22 10:02] #1269 closed

[2020-04-22 10:15] klauspost commented on #1274
FWIW this is where the file permissions are set: https://github.com/minio/minio-go/blob/925dba936c72d0fd69b04255bb98fa1d0ee4fef7/api-get-object-file.go#L85

[2020-04-22 10:18] klauspost commented on #1274
Though I don't see we permissions being stored anywhere, so I don't think preserving them is an option.

[2020-04-22 15:02] kannappanr commented on #1274
@hebe9585 Please use `GetObject` and use the appropriate file permissions to store the object on your local file system. Closing this issue as answered, please feel free to reach out to us if you have further questions.

[2020-04-22 15:02] #1274 closed

[2020-04-23 01:07] gohilankit commented on #1269
@harshavardhana @klauspost  - Thanks for your inputs. I corrected my reader implementation and it works fine now.

[2020-04-24 19:48] i0x71 opened #1277 "missing links"
It looks like /v6 path in the docs is outdated, using the link without v6 yields in another error
i0x71@debian:~/mcpipe$ CopyGO111MODULE=on go get github.com/minio/minio-go/v6
package github.com/minio/minio-go/v6: cannot find package "github.com/minio/minio-go/v6" in any of:
	/usr/lib/go-1.11/src/github.com/minio/minio-go/v6 (from $GOROOT)
	/home/i0x71/go/src/github.com/minio/minio-go/v6 (from $GO

[2020-04-24 20:28] harshavardhana commented on #1277
you need to use GO111MODULE=on

[2020-04-24 20:28] harshavardhana commented on #1277
[code]

[2020-04-24 20:28] #1277 closed

[2020-04-24 21:13] i0x71 opened #1278 "Help building"
Having a little bit of trouble here with the minio-go modules, not sure if i am missing some steps here. Any suggestions ?

Thanks

~ **GO111MODULE=on go get github.com/minio/minio-go/v6**
go: cannot find main module; see 'go help modules'

~/ **git clone https://github.com/minio/minio-go/v6.git**
**cd minio-go**

~/minio-go$ **GO111MODULE=on go get github.com/minio/minio-go/v6**
 github.com/minio

[2020-04-24 21:20] harshavardhana commented on #1278
you are using an `old` Go version @i0x71 please move to latest.

[2020-04-24 21:22] i0x71 commented on #1278
Thanks, will try that

[2020-04-24 21:28] i0x71 commented on #1278
Installed latest 1.14 and GO111MODULE=on go get github.com/minio/minio-go/v6
works.
Thanks, please close the ticket

[2020-04-24 21:35] i0x71 commented on #1278
I am not facing another issue, any suggestions would be welcome, thank you

i0x71@debian:~/mcpipe/src$ GO111MODULE=on go get github.com/minio/minio-go/v6
go: downloading github.com/minio/minio-go v1.0.0
go: downloading github.com/minio/minio-go/v6 v6.0.54
go: downloading github.com/minio/minio-go v6.0.14+incompatible
go: github.com/minio/minio-go/v6 upgrade => v6.0.54
go: downloading github.com/mi

[2020-04-24 21:47] harshavardhana commented on #1278
[code]

You need to start reading Go docs on how to do these things @i0x71 - our issues are not meant for Q/A on go building exercise.

[2020-04-24 21:47] #1278 closed

[2020-04-24 21:47] i0x71 commented on #1278
Issue was fixed by running the following steps
GO111MODULE=on go get github.com/minio/minio-go/v6
go mod init github.com/minio

[2020-05-07 20:43] i0x71 opened #1284 "Disconnect/Close connection"
Hello,
I could not find any mentions here: https://docs.min.io/docs/golang-client-api-reference.html

As to how i can disconnect the client, any suggestions ?

Thanks

[2020-05-07 20:45] harshavardhana commented on #1284
There is no such thing, its an HTTP client what are you trying to achieve?

[2020-05-07 20:46] i0x71 commented on #1284
I have a function which open a minio connection on demand, at the moment that function creates a client and gets an object.
Should the minio.New part be moved to a global space and just be reused ?
If so is there any connection error/close handing that needs to be done ?

[2020-05-07 20:49] harshavardhana commented on #1284
First I think you need to get a hang of writing code using net/http https://golang.org/pkg/net/http/

minio.New is a single persistent object for the life time of a program
connection error/close handling is automatically done in the code.
you only need to Close() the Reader() that is sent to you for consumption such as GetObject()

[2020-05-07 20:50] harshavardhana commented on #1284
Also please ask these questions in our https://slack.min.io - we would like to limit GitHub issues for issue management alone.

[2020-05-07 20:50] #1284 closed

[2020-05-15 02:21] stefansedich commented on #1080
@jhsmith did you end up finding a workaround? just got bit by this one ourselves with KIAM.

[2020-05-15 08:34] achu1612 opened #1287 "minio-go connection pool"
Is there any implementation of a pool for minio-go connections?
Is there any way to keep live the client connection?

[2020-05-15 08:39] achu1612 opened #1288 "No way for closing a client connection."
Is there any way to close the client connection?

[2020-05-15 08:59] klauspost commented on #1288
You can use `client.SetCustomTransport` and provide your own transport.

[2020-05-15 08:59] #1288 closed

[2020-05-15 09:02] klauspost commented on #1287
Yes, this is handled as standard http keep-alives.

You can provide your own transport that manages the connection or just leverage the standard library transport for it.

You can join Slack for usage questions like this: https://slack.min.io/

[2020-05-15 09:02] #1287 closed

[2020-05-15 12:29] jhsmith commented on #1080
@stefansedich we had to go around kiam/kube2iam and add explicit aws creds as env vars for our pods rather than relying on the metadata api. Rather disappointing.

[2020-05-15 21:33] Jon-Murray commented on #1210
I think the documentation just needs a line saying that you should have one client shared across context. I landed here after having the same issue with too many open files using the golang client. Similar issue https://github.com/minio/minio-go/issues/598

All of the examples kind of look like it should be one client per operation (though i will admit of course that they need to be like that for

[2020-05-29 07:56] Gnoale opened #1294 "PutObject : The specified key does not exist."
Hello, I try to put an object from a Reader, I don't need to create any file locally, just write random bytes in a file and put it in a bucket.
But it fail with this exception `The specified key does not exist.` which is weird when you try to create something.
I pass a `*bytes.Reader` to the `PutObject` method which should be ok I guess
`n, err := minioClient.PutObject(bucket, o.name, o.readS3obje

[2020-05-29 08:26] Gnoale commented on #1294
It works OK with FPutObject

[2020-05-29 10:01] Gnoale commented on #1294
I figured it out at one point I wrongly sat secure to false
While debugging what the lib do, I saw this request `&{PUT http://s3.mycompany.net/perf-test/01E9FXDZAQ5DMWB0Q8KD1Q18AB...` return 404
it should be https:// ...

[2020-05-29 10:01] #1294 closed

[2020-05-30 01:15] ItalyPaleAle opened #1295 "Remove metadata using CopyObject fails"
I am trying to copy an object within a S3 bucket to remove its metadata:

[code]

This fails with an error with S3 saying that the copy is illegal because I'm not altering anything (including metadata).

The reason seems to be that when the length of metadata is 0, the `getUserMetaHeadersMap` returns early:

https://github.com/minio/minio-go/blob/master/api-compose-object.go#L155

Instead, it shou

[2020-05-30 03:58] kannappanr commented on #1295
@ItalyPaleAle We are making a change in minio-go such that if you want the metadata to be replaced, you can set the `x-amz-metadata-directive` option to `REPLACE` as a metadata

[code]

[2020-05-30 06:30] #1295 closed

[2020-05-31 05:38] ItalyPaleAle commented on #1295
This will work. Thanks for the quick fix!

[2020-06-01 12:15] lsw214 commented on #1235
@harshavardhana hello,v4 authentication can be used "Signed payload option" ?
`When transferring payload in a single chunk, you can optionally choose to include the payload hash in the signature calculations, referred as signed payload (if you don't include it, the payload is considered unsigned). The signing procedure discussed in the following section applies to both, but note the following diff

[2020-06-01 14:36] harshavardhana commented on #1235
minio-go automatically does this @lsw214 https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-streaming.html

[2020-06-03 15:24] davidjije opened #1297 "Weird bug"
Hi, recently i was struggling with minio and discovered very weird bug.
I have one variable for image, which is `multipart.File (implements io.Reader)`
Before calling `PutObject()` method if i use this method `image.DecodeConfig(image)` - minio `PutObject()` returns me this error after some waiting - `"Put "some-url": net/http: HTTP/1.x transport connection broken: http: ContentLength='x' with Bod

[2020-06-03 20:38] kannappanr commented on #1297
@davidjije Can you please provide a sample code to reproduce the issue?

[2020-06-04 09:26] davidjije commented on #1297
https://gist.github.com/davidjije/e60788892f951c3f401469ed0237c978 - file.go
https://gist.github.com/davidjije/f2533a7df552610a86a8fcb9fb75a121 - store.go

[2020-06-04 09:26] davidjije commented on #1297
https://gist.github.com/davidjije/e60788892f951c3f401469ed0237c978 - file.go
https://gist.github.com/davidjije/f2533a7df552610a86a8fcb9fb75a121 - store.go

[2020-06-04 11:12] klauspost commented on #1297
You read from `src` inside `getImageDimension`, so the `io.Reader` you send to `s.store.Save` no longer returns the entire image, but only the remaining data.

[2020-06-04 11:12] #1297 closed

[2020-06-04 14:30] davidjije commented on #1297
Whoops... Thank you very much

[2020-06-11 07:13] MichaHoffmann opened #1303 "Record Metrics on Deleted Objects in Bulk Delete"
I would like to record metrics like "how many objects were deleted", "how much space was freed" when performing concurrent `RemoveObjects` calls with the minio-sdk. I'm inclined to think that its not possible because, when the S3-api call fails due to connectivity, i cannot be sure which objects were batched. Am i wrong, is there a way to achieve this?

[2020-06-11 07:21] harshavardhana commented on #1303
You need to do this in your application, Go SDK only provides abstracted primitives for S3 API only

[2020-06-11 07:22] MichaHoffmann commented on #1303
Of course i understand that, but im not sure how to do this, thats why i asked.

[2020-06-11 07:33] harshavardhana commented on #1303
There is no one size fits all solution here, it is entirely dependent on how you implement it and how involved is your application.

Simplest is Listing namespace, which returns size and pass it to delete objects. Upon success you know how much you deleted.

This is the simplest of course but more involved might require maintain an index somewhere which is updated once deletes happen, this index i

[2020-06-11 07:33] #1303 closed

[2020-06-23 15:14] vadmeste opened #1308 "Breaking changes to v7"
The list of possible breaking changes before v7:
[x] Removing WithContext functions
[x] New Copy/Compose API (Harsha)
[x] New Versioninig API
[x] GetObjectTagging() returns a map of key/value instead of a string
[x] MakeBucket using options for location/locking instead of separate functions
[x] Removal of public Err() functions
[x] StatObjectOptions is a type alias of GetObjectOptions
[x] Implemen

[2020-06-24 11:59] cschloer opened #1309 "Export initiateMultipartUpload, completeMultipartUpload functions"
Hi.

I'm trying to implement multipart upload in the browser. Something similar to this: https://github.com/prestonlimlianjie/aws-s3-multipart-presigned-upload

That requires the ability to start a multipart upload on the server, get urls for each part, and complete the multipart upload. As of now that is not possible with the minio client, despite the fact that those functions exist. Can you expo

[2020-06-24 12:11] vadmeste commented on #1309
@cschloer you should be able to use minio.NewCore() (https://godoc.org/github.com/minio/minio-go#Core) and execute low levels S3 APIs

[2020-06-24 12:11] #1309 closed

[2020-06-24 13:21] cschloer commented on #1309
I appreciate the quick reply!

[2020-06-25 10:03] BirknerAlex opened #1310 "Object size is "-1" and io.Copy does not work"
Hi,

I got a mysterious bug, some objects do not have a valid file size, it just returns "-1". I am using SDK v6 but also tested with the SDK version v7.

My simple code to get the object:

[code]

When I stat the same file with the command line client, the size is correct. Also the Minio UI shows the real file size, only the golang SDK returns -1.

[code]

Golang stat output:

[code]

If I copy t

[2020-06-25 10:43] BirknerAlex commented on #1310
Found the issue, maybe it's interesting who experiences the same issue, I was using Cloudflare in front of the Minio cluster but it seems Cloudflare is dropping the Content-Length header if it thinks it's a good idea to enable gzip compression.

The reason why it worked in the Minio CLI client was I configured it to bypass Cloudflare, now I changed it and started to debug it:

Small file with Cont

[2020-06-25 10:43] #1310 closed

[2020-07-01 18:35] gregoryfranklin opened #1321 "STS Web Identity Credentials not cached"
When using `credentials.IAM{}` with AWS_WEB_IDENTITY_TOKEN_FILE, the credentials are not cached resulting in an AssumeRoleWithWebIdentity STS call on every request.

#1183 added the ability to use the AWS_WEB_IDENTITY_TOKEN_FILE environment variable with `credentials.IAM{}`
https://github.com/minio/minio-go/blob/v6.0.56/pkg/credentials/iam_aws.go#L83
It does this by creating the STSWebIdentity cre

[2020-07-01 18:37] harshavardhana commented on #1321
@gregoryfranklin feel free to send a fix

[2020-07-02 08:20] yuyuanshifu opened #1324 "Big File breakpoint-upload"
The PutObject function has uploaded big file by multiparts, why don't minio support break-point upload?
I suppose that :
1、minio record the uploading result of every part and provide a interface to query
2、public the part upload interface and complate multi part interface
So we can make big file breakpoint-upload come true.

[2020-07-02 09:43] OliverKnights opened #1326 "STSWebIdentity doesn't allow overriding http.Client Transport to provide CA"
When calling NewSTSWebIdentity a Credentials object with provider set to STSWebIdentity is returned. (sts_web_identity.go:97)
[code]
 This provider field is unexported with no way to override the default transport mechanism set on the http.Client. This means when making the assume role request to a MinIO instance with self signed certificates the request fails with `x509: certificate signed by unk

[2020-07-02 14:16] harshavardhana commented on #1324
@yuyuanshifu This library is meant to be simple, minio-go automatically handles multipart upload as the stream is read. Providing low level access is not the intention of this library.

For low level access you should stick to aws-sdk-go

[2020-07-02 14:16] #1324 closed

[2020-07-10 22:12] #1321 closed

[2020-07-10 22:16] harshavardhana commented on #1326
We already expose http.Client which can take custom transport, there is no reason to have SetCustomTransport API, use as shown below.

[2020-07-10 22:16] #1326 closed

[2020-07-15 15:28] Russiancold opened #1339 "Provide errors to public API"
Hi! Is making errors from `v6/s3-errors.go` public in your backlog?

[2020-07-15 15:32] harshavardhana commented on #1339
No we are not doing that what is the purpose?

[2020-07-15 15:50] Russiancold commented on #1339
@harshavardhana Now I see only one way to check an error - comparing it to hardcoded string. I don't really like it. Is there any other way? In my particular case I want to check if the requested bucket exists looking into `*Object` from `GetObject`

[2020-07-15 16:04] harshavardhana commented on #1339
You are okay with hardcoded error type but not with strings ?

The string error code doesn't change it's part of S3 spec.

[2020-07-15 16:09] Russiancold commented on #1339
Hardcoded `if err == minio.BucketNotExistsError` will not compile if the public API changes. So yes, it's much better)
Okay, hope, that messages will not change further)

[2020-07-15 16:11] harshavardhana commented on #1339
S3 has zillion errors we cannot make zillon error types in that manner. We have one type ErrorResponse and look for correct code in that response.

[2020-07-15 16:11] #1339 closed

[2020-07-17 04:21] #1308 closed

[2020-07-17 04:21] harshavardhana commented on #1308
All done!

[2020-07-19 02:40] ItalyPaleAle opened #1346 "Minio always uses MD5 also for SHA256 hashes?"
I noticed this reading the code so must admit I haven't actually tried it, but...

Shouldn't this line:

https://github.com/minio/minio-go/blob/master/api.go#L92

Be using https://github.com/minio/sha256-simd instead?

[2020-07-19 02:43] harshavardhana commented on #1346
No, it is not @ItalyPaleAle it is just interface compatibility it is not used by default - that has nothing to do with the actual usage internally.

You don't need to set CustomMD5, CustomSHA256 unless you writing your own implementation.

[2020-07-19 02:44] ItalyPaleAle commented on #1346
Ok thanks for clarifying :)

I'm trying to update my code to use the v7 APIs but can't find docs besides the API themselves, so I've been digging in the source code.

[2020-07-19 02:44] #1346 closed

[2020-07-19 02:48] harshavardhana commented on #1346
Docs are available at https://pkg.go.dev/github.com/minio/minio-go/v7?tab=doc and also

[2020-07-19 02:58] ItalyPaleAle commented on #1346
I don't know if I'm doing something wrong on my side, then, but the docs here: https://docs.min.io/docs/golang-client-api-reference and the examples like: https://github.com/minio/minio-go/blob/master/examples/s3/getobject.go#L40

Don't seem to work to create a new Minio Client object.

The API reference shows a different interface than the docs and code samples: https://pkg.go.dev/github.com/mini

[2020-07-19 03:06] harshavardhana commented on #1346
Those were missed in our updates I am fixing them now @ItalyPaleAle

[2020-07-19 03:50] ItalyPaleAle opened #1347 "Range ignored with client.GetObject requests"
Sorry for the second issue. I've been trying to understand why this isn't working for over 2 hours now, and upgrading the client library from v6 to v7 doesn't seem to solve it.

When testing against a Minio server, this seems to reproduce the issue all the times:

[code]

In the example above, I'm only trying to request the first 100 bytes from the file. However, the code still returns the entire

[2020-07-19 03:57] harshavardhana commented on #1347
You don't set the Range in that manner @ItalyPaleAle you use the returned reader to be a Seeker or ReadAt

[2020-07-19 03:58] harshavardhana commented on #1347
Think of it like filesystem APIs

[2020-07-19 04:01] ItalyPaleAle commented on #1347
Do you have any documentation or example for this?

Without those, I went through the APIs and I found that `GetObject` supports a `minio.GetObjectOptions` argument, which has a `SetRange` method... It's weird that the option is available even though it's not supported.

[2020-07-19 04:04] harshavardhana commented on #1347
Its simply a type alias to StatObjectOptions @ItalyPaleAle it is not meant for that we didn't document that on purpose.

the returned value from GetObject() is like *os.File you can do Seek, ReadAt with it I guess you know how to use *os.File

[2020-07-19 04:11] harshavardhana commented on #1347
Will just mention that its not supposed to be used in this manner :-)

[2020-07-24 16:00] streamer45 opened #1353 "putObjectMultipartStreamNoLength not returning (spinning) on ErrUnexpectedEOF"
Hi,

I'm having an issue when trying to feed `PutObject` with a reader coming from a HTTP request where the request's body is converted into a `http.MaxBytesReader`. If the underlying connection is suddenly interrupted the reader will return `ErrUnexpectedEOF` but the loop in `putObjectMultipartStreamNoLength` will keep iterating on `totalPartsCount` which in my case gets set to 8192. This in turn

[2020-07-25 03:26] harshavardhana commented on #1353
This is actually a bug in the io.ReadFull implementaion or the io.Reader passed to io.ReadFull because

[code]

Let's highlight

So here the issue is that io.ReadFull has `length` == 0 and err set to io.ErrUnexpectedEOF this means that

has an incorrect reader implementation which returns io.ErrUnexpectedEOF which an io.Reader shouldn't do,
so points to a deeper bug in the Go ecosystem.

[code]

S

[2020-07-25 03:28] harshavardhana commented on #1353
NOTE: I used curl with 3 bytes a second

[2020-07-25 09:15] streamer45 commented on #1353
@harshavardhana

thank you for the excellent analysis :+1:

So, if I understood this correctly, the main issue is that we expect `EOF` to be returned since `Read()` returned 0 but instead we get an `ErrUnexpectedEOF` which _in theory_ should be returned only when at least some data was read.

Also, directly passing the HTTP request's body works fine which indicates it's indeed the `http.MaxBytesRe

[2020-07-25 15:41] harshavardhana commented on #1353
Yes definitely that's the bug here, http.MaxBytesReader is actually making a strong assumption which is defeating io.Reader behavior.

But we do have a workaround.

[2020-07-25 17:22] findmyname666 opened #1355 "PubObject - possible data race ?"
I tested concurrent uploading of objects into MinIO. MinIO client should be thread safe as state [here](https://github.com/minio/minio-go/issues/598).

I tested function [PubObject](https://docs.minio.io/docs/golang-client-api-reference.html#PutObject) only.
There was detected data race during runtime when i compiled code with flag `go build -race`.

**Sample steps to reproduce error**:
1) Set-up

[2020-07-25 17:24] harshavardhana commented on #1355
This has been long fixed you are using an older version here stick to go modules and stick to `v7`

[2020-07-25 18:21] findmyname666 commented on #1355
@harshavardhana just did quick test of v7 and it seems to be fixed there. Thx.

[2020-07-27 21:44] #1353 closed

[2020-07-29 09:23] findmyname666 commented on #1355
@harshavardhana at the end i got the data race :(
[code]

[2020-07-29 16:31] harshavardhana commented on #1355
@findmyname666 this looks like an application bug, can you provide a sample code with the reader that you are passing to us?

[2020-08-01 20:47] findmyname666 commented on #1355
@harshavardhana sorry for later response.
I was able to replicate DATA RACE with following code:
[code]
Please note that size of uploading files is ranging from several KB to 200GB.
Looking forward for your reply.

[2020-08-01 22:31] harshavardhana commented on #1355
I will take a look soon thanks for the reproducer

[2020-08-04 11:05] streamer45 opened #1358 "ComposeObject failing on Amazon S3 when using SSE"
Hi,

I am having an issue with `ComposeObject()` on Amazon S3 using SSE.
The source file is encrypted and setting the encryption in `CopyDestOptions` triggers the error:

`x-amz-server-side-encryption header is not supported for this operation.`

Everything works fine when using minio server.

Is this a known limitation or else?

#### Example

[code]

[2020-08-04 16:16] harshavardhana commented on #1358
I think this is because AWS is returning an error for observing an unexpected header.

[2020-08-04 16:30] #1355 closed

[2020-08-04 18:09] #1358 closed

[2020-08-04 19:25] findmyname666 commented on #1355
@harshavardhana is there date for release ? cannot way ;)

[2020-08-05 09:30] OliverKnights commented on #1326
Thanks for the reply and sorry to leave it so long before responding,
The http.Client is exposed in the STSWebIdentity, but when using the NewSTSWebIdentity constructor that gets returned in a Credentials struct, in which the Provider (STSWebIdentity) is an unexported field, hence cannot be modified.

I originally thought I could get around this by not using the NewSTSWebIdentity constructor and i

[2020-08-05 15:21] harshavardhana commented on #1326
Actually It can be an exported field, let me see if there is a cleaner way to add this.

[2020-08-06 10:40] bjg2 opened #1361 "Working with S3 accelerated"
I'm trying to work with accelerated S3, but can't manage to do so, can you explain how it is expected to work?

I tried this:
[code]

Also, tried to put the region of my bucket, it worked, but slow as if not accelerated.

[2020-08-08 16:28] kannappanr commented on #1361
[code]

[code]
Once you add `s3Client.SetS3TransferAccelerate("s3-accelerate.amazonaws.com")` it should use the accelerate endpoint. If the bucket is configured to use it, the speed will be faster.

closing this as answered. please feel free to reach out to us if you have further questions

[2020-08-08 16:28] #1361 closed

[2020-08-10 02:04] tky753 opened #1364 "Is is possible to get Presigned url without accessing minio server"
My app server can not reach the minio server, while my app client can.
and it's not safe to give access key and secret to clients.
so I tried to get Presigned url without accessing minio server, when I call **PresignedGetObject**, I found
[code]
I cannot set **metadata.bucketLocation**, and must get it from minio server,  if server is not accessible, returns error.
I would appreciate it if any one

[2020-08-10 02:42] harshavardhana commented on #1364
@tky753 yes set the region appropriately in the constructor

[code]

[2020-08-10 02:42] #1364 closed

[2020-08-10 06:44] tky753 commented on #1364
Thx, It works for me.

[2020-08-10 10:36] prashant7july opened #1365 "ISSUE in first sample code in the given URL https://github.com/minio/minio-go/tree/v7.0.4?"
Hi,

I'm trying to work with minio-go v7, but facing the issue as below after execute the docker run command and then use _docker logs CONATNER_ID_ . Please advise for missing area?

&minio.Client{endpointURL:(*url.URL)(0xc000022500), credsProvider:(*credentials.Credentials)(0xc000066900), overrideSignerType:0, appInfo:struct { appName string; appVersion string }{appName:"", appVersion:""}, secure

[2020-08-10 12:14] nitisht commented on #1365
What is the problem here?

[2020-08-10 12:24] prashant7july commented on #1365
Whats is this -

&minio.Client{endpointURL:(*url.URL)(0xc000022500), credsProvider:(*credentials.Credentials)(0xc000066900), overrideSignerType:0, appInfo:struct { appName string; appVersion string }{appName:"", appVersion:""}, secure:false, httpClient:(*http.Client)(0xc0001b0870), bucketLocCache:(*minio.bucketLocationCache)(0xc00000ee80), isTraceEnabled:false, traceErrorsOnly:false, traceOutput:i

[2020-08-10 12:39] nitisht commented on #1365
I think this is because you're printing the `minioClient`

[2020-08-10 14:30] #1365 closed

[2020-08-10 14:34] prashant7july commented on #1365
Really thanks

[2020-08-10 14:34] prashant7july commented on #1365
Really thanks

[2020-08-10 15:32] indalaterre opened #1366 "PutObject method on a versioned bucket raise a NotImplemented exception"
Hello, I'm trying to store an object on my Minio docker setup using the Java SDK. According to the [documentation ](https://docs.minio.io/docs/minio-bucket-versioning-guide.html) (no additional code is required for storing the object) this is the code I've written for my software:

Versions:
Java SDK: **7.1.0 Maven**
Docker Minio tag: **RELEASE.2020-08-08T04-50-06Z**

<pre>
this.client.enableVersi

[2020-08-10 16:12] klauspost commented on #1355
@findmyname666 It has been released.

[2020-08-10 19:27] findmyname666 commented on #1355
@klauspost yeeah i noticed e.g. it was released a few hours after i asked by @harshavardhana.
Thanks for that.

P.S.: So far it works without race :+1:

[2020-08-17 09:53] bjg2 commented on #1361
It works, thanks!

Just a quick question: as I understand regardless of the endpoint parameter in New, the line bellow is the one that makes request accelerated:

[code]

So, I can give "s3-accelerate.amazonaws.com" as endpoint parameter to New always (even if the bucket is not accelerated)? I'm aksking because I see it works that way. :)

[2020-08-21 05:49] iamwlb opened #1375 "How to set the policy of the directory in the bucket"
The earlier api was
[code]
But now the api is
[code]
In the new api, the policy is a json, which is not as convenient as the old version of the api.

[2020-08-21 05:56] harshavardhana commented on #1375
You don't set bucket policy on a directory that's why it's called bucket policy.

Directory is part of the resource string you need to construct read about it  https://docs.aws.amazon.com/AmazonS3/latest/dev/access-policy-language-overview.html it here.

[2020-08-21 05:56] #1375 closed

[2020-08-21 05:57] harshavardhana commented on #1375
You construct the JSON as you want use the `pkg/policy` if needed in this repo to generate a canned JSON

[2020-08-21 07:51] iamwlb commented on #1375
can you give me a demo?

[2020-08-23 00:09] iamwlb opened #1377 "About the directory or file permission setting api interface in the bucket"
- How to set permissions for the directories in the bucket?
- Is there a simple and easy-to-use api interface that has been encapsulated for calling?
- Are there relevant demos available?
- func newStatements is private,why not public func NewStatements?

[2020-09-08 10:22] akvlad opened #1382 "Cannot build minio go with go v1.12"
Cannot get minio-go with go get.
The command fails with the error "invalid operation: 1 << j (shift count type int, must be unsigned integer)"
[code]

[2020-09-08 10:23] harshavardhana commented on #1382
go1.12 is not supported.

[2020-09-08 10:23] #1382 closed

[2020-09-11 09:04] magictour opened #1383 "retry will cause unnecessary wait on the last times"
[code]

This code  in retry.go will wait until the time.After(exponentialBackoffWait(i)) timeout when outside context does not cancel at the last retry.

Maybe it should be waiting before the next retry, rather than waiting after the retry

[2020-09-11 10:01] vadmeste commented on #1383
@magictour not correct. Try the following code:
[code]

It will quit immediately after printing "Finished"

[2020-09-11 13:40] harshavardhana commented on #1383
I think @magictour your understanding is not correct, can you explain what issue you are talking about?

[2020-09-12 17:08] magictour commented on #1383
This happened when outside context does not call the cancel() function immediately.

The code can be found in the file api.go -> executeMethod

[code]
when should be retry, the function cancel() can not be called, the for loop will block.

@vadmeste @harshavardhana

[2020-09-12 17:19] harshavardhana commented on #1383
The context is passed by caller too, once that is canceled the request is canceled.

Let's avoid anecdotal observations use it in a code and show us a reproducer.

[2020-09-12 17:40] harshavardhana commented on #1383
I just tested by printing and using with `mc` by making simple changes

[code]

[code]

[2020-09-12 17:40] #1383 closed

[2020-09-12 17:45] magictour commented on #1383
[code]

The function executeMethod work like this, it will be blocked until 100 hours:

[code]

[2020-09-12 20:36] harshavardhana commented on #1383
I already showed you it won't @magictour

[2020-09-15 07:11] KylinGu opened #1384 "Hang when delivering a nil context to GetObject method"
When I deliver a nil context to the GetObject method as following code, it will hang at this func without any hint or output.
[code]

## Expected Behavior
It should print some error log to hint developer that we should deliver a non nil context.

## Current Behavior
As described above, it hang at this func and no anything else output log to hint this.

## Possible Solution

## Steps to Reproduce (

[2020-09-15 07:13] harshavardhana commented on #1384
Moved to relevant repo

[2020-09-15 08:49] klauspost commented on #1384
A nil context is not valid. See  https://golang.org/pkg/context/

[2020-09-15 08:49] #1384 closed

[2020-09-15 09:16] KylinGu commented on #1384
I know it is not valid, but minio-go should panic or print something error log but not behave nothing.

If we deliver nil to the context.WithCancel(), it will panic imediately, but minio-go behave nothing!

[2020-09-15 09:24] klauspost commented on #1384
@KylinGu It will not hang, but it will retry the operation before eventually returning "net/http: nil Context".

[2020-09-15 09:26] klauspost commented on #1384
You are welcome to send a PR, but from our perspective this is ok behavior.

[2020-09-15 10:34] KylinGu commented on #1384
Thanks, you are right, it will not hang or block. But for the users, the caller function is blocking and no anything abnormal log. This is not user friendly, as I find other functions with ctx have the same behavirour. I will think about a solution if i could find, hahahah😃😃😃.

[2020-09-17 15:54] marcown opened #1386 "PresignedPutObject -> Corrupt Image Upload"
Hi there,

I want to use go to upload images to presigned put object urls in minio. However, after uploading an example.png the file is corrupt / i cannot open it with a image viewer after downloading it again from minio (it says file is text/plain) and I dont know why.

Does the presignedurl explicitly allow multi-part put uploads?

Here an example code, you need a running minio instance on 127.0

[2020-09-18 07:54] marcown commented on #1386
leaving out the multipart upload it works:

[code]

[2020-09-18 07:58] harshavardhana commented on #1386
That is whole point, its not a corruption you can't use multipart/form to upload for a PUT request

[2020-09-18 07:58] #1386 closed

[2020-09-18 08:06] marcown commented on #1386
Thank your for the clarification!

[2020-09-24 03:10] botoXie opened #1389 "SetPolicy error"
How to set policy in the bucket?

[2020-09-24 03:56] kannappanr commented on #1389
Please check this https://docs.minio.io/docs/golang-client-api-reference.html#SetBucketPolicy

please reach out to us at https://slack.min.io for further questions

[2020-09-24 03:56] #1389 closed

[2020-09-29 22:05] #1225 closed

[2020-09-29 22:06] #1377 closed

[2020-10-09 15:57] necro351 opened #1394 "The minio golang v7 client leaks memory and causes GC thrashing in go program that links with it"
When I use the minio v7 golang client (v7.0.5) it makes hundreds of thousands of unnecessary allocations, which makes the garbage collector waste a lot of time and resources and slows down my program.

## Expected Behavior

The minio client should be very light weight, and not cause any GC thrashing or other kinds of slowdowns in client programs that link with it.

I think you should use a string

[2020-10-10 03:08] harshavardhana commented on #1394
Move to relevant repo

[2020-10-10 06:32] #1394 closed

[2020-10-10 06:32] harshavardhana commented on #1394
Fixed by #1393

[2020-10-12 21:18] jtlisi opened #1396 "Re-add `start-after` parameter to the SDK"
I noticed the `start-after` parameter was exposed in both the Javascript and Python SDKs. I also noticed it was added to this SDK in PR #990. However, it was removed a few months ago in PR #1332.

The `start-after` feature is very useful and can make LIST operations much less expensive on both the client and server side from a CPU and network perspective. Would a PR to re-add `start-after` to this

[2020-10-15 11:45] owenhaynes opened #1398 "IO.Writer like file object upload"
It would be nice to be able to write objects using io.Copy. Object reading currently supports this so I feel writing should as well.

At the moment it also means code has to know about minio, and can not be passed into functions which take a io.Writer

It is possible to do with a wrapper by using  io.pipe but this adds complexity to error handling, it would be cleaner if this was contained within

[2020-10-15 14:11] #1398 closed

[2020-10-17 21:26] geordee opened #1399 "type *minio.Client has no field or method SetCustomTransport"
When I try to use minio-go SDK, with custom transport I get the following error.

`minioClient.SetCustomTransport undefined (type *minio.Client has no field or method SetCustomTransport)`

I am trying to follow the instructions from issue #1000

[code]

[2020-10-17 21:34] harshavardhana commented on #1399
Just set it as part of `opts.Transport` @geordee - doc is out of date.

[2020-10-17 21:34] #1399 closed

[2020-10-23 00:30] ticpu opened #1402 "Instructions in the README.md do not mention about using GO111MODULE=on for build/run"
Following the instructions from the main page of the project do not work and result in errors during build.

The instructions state:
1. This document assumes that you have a working Go development environment.
2. Download using `GO111MODULE=on go get github.com/minio/minio-go/v7`
3. Run using `go run file-uploader.go`

I can confirm that my build environment is working for other projects.

This is

[2020-10-23 01:10] harshavardhana commented on #1402
Fixed in fe1f3855b146c1b6ce4199740d317e44cf9e85c2

[2020-10-23 01:10] #1402 closed

[2020-10-27 11:23] Sonipn opened #1403 "No error raised on un-successful connection"
Hello,
I'm reaching you today as I have a question about connection establishment using minio-go. My thought would be that `New()` return an error when the endpoint is invalid and/or the credentials are?
Instead, you'll get an error on later calls.

I would like to check if the connection is successful when launching my service, without having to call heavy methods that won't be used at this point

[2020-10-27 11:35] klauspost commented on #1403
The `minio-go` package is for S3 and cannot use any minio specific endpoints.

In most cases it would also just add an additional roundtrip with little additional info than doing the actual call.

I guess you can just do a `HeadBucket` or `ListBuckets` call if you need the information on startup.

[2020-10-27 11:37] Sonipn commented on #1403
Indeed, didn't thought about the fact that minio sdk wasn't used only for minio S3 servers, closing, thank you.

[2020-10-27 11:37] #1403 closed

[2020-11-09 11:26] vadmeste opened #1407 "[Proposal] RemoveObject & RemoveObjects to return more info about successful deletion"
Currently RemoveObject() and RemoveObjects() only return errors for failed deletions.

However, S3 spec returns two information with successful deletion:
     x-amz-version-id
     x-amz-delete-marker

which could be useful to have them.

For example, mc wants to show a delete marker is added in a versioning bucket instead of removed message.

[2020-11-10 21:56] jamisonhyatt commented on #1347
I'l be honest - this issue confuses me.

The original report says setting the range header doesn't work...but it seems to work perfectly fine when speaking with S3. Is this an incompatibility with minio?

Then there's communication that you're not supposed to use it, yet it's both [exported and properly documented](https://github.com/minio/minio-go/blob/39dead307a0db5aedfe21b55567e6cf2b665f94e/api

[2020-11-11 01:06] jamisonhyatt commented on #1347
ah, @ItalyPaleAle - it appears that `opts.SetRange(0, 100)` works as expected to set a `range` header, but does a `delete(headers["range"])`, if you happen to `Stat` the object *before* reading it.

[2020-11-11 01:09] ItalyPaleAle commented on #1347
@jamisonhyatt I fixed this by using the core API rather than the higher-level one: https://godoc.org/github.com/minio/minio-go#NewCore

In my case, I needed lower-level control on the requests made to Minio as I needed precise access to the chunks and streams.

[2020-11-11 01:09] #1347 closed

[2020-11-11 06:05] mohsha-msft opened #1408 "AWS list API returns invalid XML character which fail parsing XML response"
Please checkout  https://forums.aws.amazon.com/thread.jspa?threadID=46125 and
https://github.com/Azure/azure-storage-azcopy/issues/1197#issuecomment-716862690 for more context

[2020-11-11 06:10] harshavardhana commented on #1408
This is because AWS S3 doesn't return XML 1.1 instead only XML 1.0 and unfortunately doesn't support crazy characters.

[2020-11-11 06:10] #1408 closed

[2020-11-18 12:54] mweibel opened #1410 "Invalid s3 URL Encoding type decoding for GCS"
I'm using minio to access a GCS bucket via S3 API (HMAC Key) using `mc`.
Directories/Files with whitespace in it return using `+` instead.

List objects response:
[code]

[`ListBucketResult` struct](https://github.com/minio/minio-go/blob/master/api-s3-datatypes.go#L199) encodes `EncodingType` without a dash, therefore not being able to decode it. This results in `mc` returning invalid filenames fo

[2020-11-23 06:31] alexcocia opened #1413 "Context timeout not handled in FGetObject"
When setting a context timeout of x duration, the request made to FGetObject always lasts 30 secs. Context is not returned until that time is passed

The following code returns the error after 30 secs:
[code]

[2020-11-23 11:00] harshavardhana commented on #1413
fixed by #1414

[2020-11-23 11:00] #1413 closed

[2020-11-26 01:43] leungster opened #1415 "Support for custom signed headers as part of Presign URLs"
I'm trying to generate Presigned URLs that require the user to provide matching headers upon usage. The current `PresignXXX` methods don't allow me to specify extra headers that should be part of the signature.

`ReqParams` aren't sufficient because the value of the params are included in the returned presign URL. Whereas with headers, only the header key is returned.

[2020-11-26 01:49] harshavardhana commented on #1415
MinIO SDK is not designed for this use @leungster what is the real purpose of using presigned URLs? - you should use AssumeRole with STS credentials of generating odd presigned URLs

[2020-11-26 02:02] leungster commented on #1415
Thanks for the quick reply. Our use case is to add some extra guardrails that the URL is only accessible by the requestor. If the URL were to be copied/passed around, we'd want the header to also be supplied. The value we were going to use is already being rotated / revokable.

The AWS SDK appears to support this capability but the MinIO one has cleaner abstractions for the other use cases we have

[2020-11-26 02:06] harshavardhana commented on #1415
Can you provide examples where AWS SDK provides this?

[2020-11-26 04:10] leungster commented on #1415
This is what the AWS SDK would look like.

[code]

[2020-11-26 13:44] dammers commented on #1207
Did anyone log a case with NetApp support for this issue?

[2020-11-27 05:44] gevorgyana opened #1417 "PutObject panics saying it received nil values"
Cannot upload a non-empty file to a bucket,
[code]

See the null pointers in the PutObject, and see the valid objects (trust me) below. How is that possible? Here is the code.

[code]

[2020-11-27 05:46] harshavardhana commented on #1417
Please provide the entire code snippet here - we have functional tests that upload 128MiB worth of content there is no way it can crash in this manner, most probably you have an incorrect implementation.

[2020-11-27 07:57] gevorgyana commented on #1417
[code]

The buffer is not empty for sure.

[2020-11-27 10:26] klauspost commented on #1417
`minioClient` is nil.

[2020-11-27 10:26] #1417 closed

[2020-11-27 13:31] gevorgyana commented on #1417
No it is not! :)

Well, here is what happens deeper in the stack. I used `dlv` to examine.
Here is a proof that the method is called, but the context is nil, every other parameter is okay.
Is it okay that the `ctx` argument is nil?
[code]

[2020-11-27 13:44] gevorgyana commented on #1417
Yes, something is nil, but not the client.

[code]
Here, the problem is with the nil net/url variable.

[2020-11-27 13:47] gevorgyana opened #1418 "nil net/url c.endpointURL using configuration from example"
Here is a debugger session caption.

[code]
Here, the problem is with the nil net/url variable.

_Originally posted by @gevorgyana in https://github.com/minio/minio-go/issues/1417#issuecomment-734842015_

[2020-11-27 13:47] gevorgyana commented on #1418
https://github.com/minio/minio-go/issues/1417#issuecomment-734698815

[2020-11-27 14:43] klauspost commented on #1417
@gevorgyana `api-put-object.go:212` (not 222) in v7.0.5 is

The only thing that can crash here is `c` being nil.

[2020-11-27 14:49] klauspost commented on #1418
@gevorgyana Could you post the code that creates the client as well?

[2020-11-27 14:57] gevorgyana commented on #1418
Sure
[code]

[2020-11-27 15:03] klauspost commented on #1418
[code]
You are shadowing `minioClient`, so it is not assigned to your package variable, so `minioClient` remains a zeroed struct.

[2020-11-27 15:03] #1418 closed

[2020-11-27 15:10] gevorgyana commented on #1418
Thank you!

[2020-11-28 15:02] ddevault commented on #1339
AWS's S3 Go library sees fit to add at least a few strongly typed errors:

https://docs.aws.amazon.com/sdk-for-go/api/service/s3/

See i.e. ErrCodeBucketAlreadyExists, ErrCodeBucketAlreadyOwnedByYou, etc. minio-py also sees fit to offer similar errors like [`minio.errors.BucketAlreadyOwnedByYou`](https://github.com/minio/minio-py/blob/d266a153118499a57ef0ad5d0aa0e04693d98422/README.md#quick-start-

[2020-12-01 21:06] MichaelHudgins opened #1420 "Add support for "starts-with" post policy content type"
The post policy generation currently allows for only exact match of content types.  It would be helpful if, like key, a "starts-with" could be specified instead of an exact match.

A typical use case for this would be a policy that allows all images, or all videos to be uploaded.  As seen in the aws post policy api page:

https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-HTTPPOSTConstructPolic

[2020-12-01 21:14] harshavardhana commented on #1420
Good idea feel free to send a PR @MichaelHudgins

[2020-12-02 01:39] harshavardhana commented on #1420
Fixed by #1421

[2020-12-02 01:39] #1420 closed

[2020-12-03 07:04] ItalyPaleAle opened #1422 "Core.ListObjects and Core.ListObjectsV2 don't allow passing a context"
The public methods `Core.ListObjects` and `Core.ListObjectsV2` do not accept a context.Context object as argument. Internally, they just call the private methods `listObjectsQuery` and `listObjectsQueryV2` passing `context.Background()`.

See: https://github.com/minio/minio-go/blob/master/core.go#L46-L56

Because of that, it's not possible to invoke those methods with a custom context that control

[2020-12-03 07:06] harshavardhana commented on #1422
Core APIs are not meant to be used by our users, Core API is for internal use and is not intended to be public-facing. If you are using it - use it at your own risk.

[2020-12-03 07:06] #1422 closed

[2020-12-03 07:09] ItalyPaleAle commented on #1422
If the API was never meant to be used, why exporting it then? (see: https://www.hyrumslaw.com/ )

Anyways, I've run into sitatuons where the Core APIs were the only options for me, so I really hope you don't deprecate them ;)

[2020-12-03 07:14] harshavardhana commented on #1422
Just because its exported doesn't mean you should willy nilly use it - Core APIs do not have any API guarantees so we may even break them in the future as we see fit.

You should use what is painstakingly documented here https://github.com/minio/minio-go/blob/master/docs/API.md

Unfortunately, Go doesn't have proper provisions to hide APIs from godocs with some form of Java'isk like annotations to

[2020-12-03 19:38] gevorgyana opened #1423 "Typo in the docs"
https://docs.min.io/docs/golang-client-api-reference.html#ListObjects

Check out the example. There should be `ListObjectsOptions`, not `ListObjectOptions`.

[2020-12-04 23:01] rihazmihar opened #1424 "go get is failing"
I am able to see the series of error message while building it in my application. I tried 'go get' command at the command prompt. seeing same error. any suggestion. even the Makefile is giving same error while compilation.

$ go get github.com/minio/md5-simd
go: downloading github.com/minio/md5-simd v1.1.1
go: github.com/minio/md5-simd upgrade => v1.1.1
go: downloading github.com/klauspost/cpuid v

[2020-12-04 23:06] harshavardhana commented on #1424
You need to use go1.14 or newer

[2020-12-04 23:06] #1424 closed

[2020-12-04 23:45] rihazmihar commented on #1424
go version
go version go1.14.6 gccgo (Ubuntu 10.2.0-13ubuntu1) 10.2.0 linux/amd64

[2020-12-04 23:47] rihazmihar commented on #1424
I using above version. Please suggested what could be the reason for this behavior.

go get github.com/minio/minio-go/v7
go: github.com/minio/minio-go/v7 upgrade => v7.0.6
# github.com/minio/md5-simd
go/pkg/mod/github.com/minio/md5-simd@v1.1.0/block16_amd64.s: Assembler messages:
go/pkg/mod/github.com/minio/md5-simd@v1.1.0/block16_amd64.s:61: Error: no such instruction: `text ·block16(SB),4,$0-40'

[2020-12-04 23:57] harshavardhana commented on #1424
This is not the correct Go version use the ones from `golang.org/dl` not gccgo.

[2020-12-05 07:41] daddycarbone opened #1425 "put object encrypt got error need provided keys must be made over a secure connection"
my minio client was set secure connection "true" and i follow the example on this repo for put object encrypt, but got error
[code]

here is the code i implement:

[code]

to set policy:

[code]
do i miss something for this??

and is put object encryption only for s3 ? because my minio was self host

[2020-12-05 08:08] harshavardhana commented on #1425
SSE-C requires TLS - this is AWS S3 spec.

[2020-12-05 08:08] #1425 closed

[2020-12-05 08:32] daddycarbone commented on #1425
is that mean if self-host, I cant do encrypt put object? I have followed the examples on here though @harshavardhana

[2020-12-05 08:35] harshavardhana commented on #1425
self host still requires TLS configured

[2020-12-05 08:36] kannappanr commented on #1425
@daddycarbone You need to generate the certs. Please take a look at https://docs.min.io/docs/how-to-secure-access-to-minio-server-with-tls.html

[2020-12-05 10:55] daddycarbone commented on #1425
hey @harshavardhana @kannappanr thx for your info :)

[2020-12-06 04:38] rihazmihar commented on #1424
Thank you. I had installed the golang, but later Installed gcc compiler, hence it had overwritten the path details in PATH variable it seems. I updated the PATH env variable, it ispicking the right go version which solved the issue.

[2020-12-07 10:46] klauspost commented on #1424
@rihazmihar

Dont use gccgo it will effectively disable use of all assembly optimized functions.

[2020-12-08 15:12] Racle opened #1426 "minio-go v7: cpuid.CPU.AVX512F undefined (type cpuid.CPUInfo has no field or method AVX512F) when using virtual machine."
I posted issue on md5-simd GitHub also.
You can find issue and more detailed information here https://github.com/minio/md5-simd/issues/19

This happens with minio-go v7.

[2020-12-08 16:10] harshavardhana commented on #1426
Use go1.14 and above

[2020-12-08 16:10] #1426 closed

[2020-12-08 16:45] Racle commented on #1426
I'm using go 1.15.6 on my virtual machine.

Docker image which was on example used 1.15.6 also.

This is broken on V7 and it doesn't even run on latest go.
This will break many docker containers in the future..

[2020-12-08 16:46] harshavardhana commented on #1426
@Racle just set GO111MODULE=on

[2020-12-08 16:57] Racle commented on #1426
That doesn't fix the issue. Any other ideas?

I still get this with my local VM and with docker (example in [minio-example.zip](https://github.com/minio/md5-simd/files/5660044/minio-example.zip), I just added `ENV GO11MODULE=on` to that)

![image](https://user-images.githubusercontent.com/759091/101515433-03ad7680-3987-11eb-82e4-f848f805daf0.png)

[2020-12-08 16:58] harshavardhana commented on #1426
You `GO111MODULE=on` - incorrect env passed - we even say this here

https://github.com/minio/minio-go#download-from-github

[2020-12-08 16:59] Racle commented on #1426
I thought that was just a typo, because with that I get this:

[code]

[2020-12-08 17:02] harshavardhana commented on #1426
Yes because your code is not using `go.mod` yet first do `go mod init` - Start reading about how to use `go modules` here https://github.com/golang/go/wiki/Modules

[2020-12-08 17:08] Racle commented on #1426
That explains it and fixes it.

That should also be on README.md as not everyone still uses go mod and this will break their stuff (as it happened with our code).

That said, it's good time to move to go mod.

[2021-01-05 15:24] Zalberth commented on #1399
Indeed

[2021-01-08 14:45] pankajverma opened #1440 "memory leak -putObject with -1"
hi,

i have seen if we use putObject with -1(for streaming) it takes memory to perform the job which can be controlled by partsize, but after the object gets upload then the memory should be released which is not happening.

i can see my go-service which uses this API,  retain the memory, and only gets released after i restarted it.
i have seen the other issue(https://github.com/minio/minio-go/iss

[2021-01-08 14:58] klauspost commented on #1440
Are you setting `PutObjectOptions.Progress`? Mainly asking so I know where to look.

[2021-01-08 15:00] pankajverma commented on #1440
no i have not set this.
after seeing this mem issue i have only set the partSize to a lower value

[2021-01-08 15:02] klauspost commented on #1440
I don't see how a reference can be held after the function has returned.

How have you determined that it is leaked an not simply the runtime keeping the memory from the OS?

[2021-01-08 15:20] pankajverma commented on #1440
actually,i keep the service running for 30 mins and more to see if the mem utilization get dropped after the put object return but it doesn't

here is the pprof inuse_space snippet.

     File: objectStore
Type: inuse_space
Time: Jan 7, 2021 at 1:56pm (IST)
Duration: 25.35s, Total samples = 641.52MB
Showing nodes accounting for -639.52MB, 99.69% of 641.52MB total
----------------------------------

[2021-01-08 15:22] pankajverma commented on #1440
is there any other way you suggest to confirm if this is a mem leak?

[2021-01-08 15:28] klauspost commented on #1440
This profile shows that 640 megs was released?

[2021-01-08 15:33] pankajverma commented on #1440
thanks for your quick reply.
so the -640 means it released the mem?, {if so then I was reading it wrong :( }

[2021-01-08 15:36] klauspost commented on #1440
You can try doing 50 uploads sequentially. If memory keeps going up it is a leak.

[2021-01-08 15:39] pankajverma commented on #1440
yeah I tried that it goes up, also I tried concurrent 20 uploads then also it goes up and after that leaving it ideal for like an hr, just to see if the mem get released but it didn't.

[2021-01-08 15:40] klauspost commented on #1440
Concurrent will make it hard to see, since everything will be allocated at the same time. That is why you should try serially to see if memory keeps building up.

[2021-01-08 15:50] pankajverma commented on #1440
ok, I did 3 uploads(filesize=10MB,  partSize 4MB) one by one and yes mem% goes up.

[2021-01-08 16:13] klauspost commented on #1440
Make the part sizes big and make a lot of requests. This can be pretty much anything.

[2021-01-11 14:03] pankajverma commented on #1440
initially, i had tried with the default partsize(128mb) and serial upload.

I have attached a program that can simulate the problem.
[testputObj.go.zip](https://github.com/minio/minio-go/files/5796117/testputObj.go.zip)

[2021-01-11 14:50] klauspost commented on #1440
I simplified the code a bit and added come synchronization:

https://play.golang.org/p/jGxIrOFE97U

It works fine and there is no leaks. One observation is that moving `buf := make([]byte, 4*1024*1024)` outside the loop improves it. Waiting for the put to *actually* complete, not just for the write to finish helps.

You are providing a reader with no seek option, so it will have to buffer signific

[2021-01-11 14:50] #1440 closed

[2021-01-13 11:11] narasimman-elu opened #1442 "Thanos - BaseFetcher: iter bucket: You are not authorized to perform this operation"
Deploying Thanos(either as a side-car or store) China region is not successful.

Unfortunately minio does not give any error message.

Error Message from Thanos:
level=warn ts=2021-01-13T11:02:50.446721205Z caller=intrumentation.go:54 msg="changing probe status" status=not-ready reason="bucket store initial sync: sync block: BaseFetcher: iter bucket: You are not authorized to perform this operatio

[2021-01-13 12:35] narasimman-elu commented on #1442
After spending a week the issue has been found in minio package.

minio uses credentials pkg to get the aws credentials access in 4 different ways to authorize with tokens.
[Credentials](https://github.com/thanos-io/thanos/blob/855c50886659b7d6441d5fba5034004c4188af9f/docs/storage.md#credentials)
The preferred way which most organisation would like to use IAM approch.
This approach uses token from

[2021-01-21 23:38] tachang opened #1446 "Unable to use gateway on GovCloud"
[code]

This message is probably due to the way `sts` URLs are on govcloud. I got the same message when doing `aws sts get-caller-identity` if I don't set the region to `us-gov-west-1`. So my guess is somewhere in the code the region needs to be set properly.

## Expected Behavior

The gateway mode starts and gets credentials from the IAM metadata on the EC2 instance.

## Current Behavior

[code]

[2021-01-21 23:52] tachang commented on #1446
Thanks. I'm having trouble finding the area of code where this happens.

[2021-01-22 00:02] harshavardhana commented on #1446
its in `pkg/credentials/iam_aws.go`

[2021-01-22 00:11] tachang commented on #1446
Thanks. Found it over here: https://github.com/minio/minio-go/blob/master/pkg/credentials/iam_aws.go#L59

Looks like it is hardcoded unless AWS_WEB_IDENTITY_TOKEN_FILE is set. And then you can use AWS_REGION to override. Not sure what AWS_WEB_IDENTITY_TOKEN_FILE is (will have to research). I just set it to AWS_WEB_IDENTITY_TOKEN_FILE=1 and I was able to start it.

[2021-01-22 02:38] tachang commented on #1446
Still having an error though so not sure if that is actually the problem.

[2021-01-22 13:32] vadmeste commented on #1446
@tachang do you know what's the STS endpoint of GovCloud ?

[2021-01-22 14:38] tachang commented on #1446
Actually this is a setup error:
`./minio gateway s3 https://s3.us-gov-west-1.amazonaws.com`
works! Closing this issue.

[2021-01-22 14:38] #1446 closed

[2021-02-12 14:27] pracucci opened #1451 "Object.Read doesn't return error on truncated response"
Thanos and Cortex are using the Minio client as S3 client. From time to time we've some reports of bugs that looks like if we get a partial/truncated response from the server which is not treated as an error from our application.

I've tried to simulate a scenario (which I don't know how much realistic could be) where the server returns a body response smaller than the `Content-Length`. The Minio

[2021-02-12 14:43] pracucci commented on #1451
As comparison I tried to run the same test with the official AWS SDK and I get `io.ErrUnexpectedEOF`:

[code]

[2021-02-12 18:05] harshavardhana commented on #1451
Will take a look @pracucci

[2021-02-12 18:12] harshavardhana commented on #1451
The main reason is that `io.ErrUnexpectedEOF` is treated as a legitimate error because of our readFull() usage @pracucci - NOTE: shorter reads are allowed in io.Reader implementation so it is the caller that needs to know

The actual expected size returned after a fully io.Copy() is `n != expectedN`

[2021-02-12 18:13] pracucci commented on #1451
Is it a nice way to say it's by design? :)

[2021-02-12 18:15] harshavardhana commented on #1451
This is a very low-level implementation - you would see the same behavior in this SDK as well if you used core.GetObject()

the top-level implementation i.e api.GetObject() is io.ReadSeeker and io.ReaderAt compatible so the behavior is trying to be io.Reader compatible.

So Read() will not return io.ErrUnexpectedEOF

[2021-02-12 18:17] harshavardhana commented on #1451
Let's see if it's possible to add it @pracucci and let me do some experimentation to see if it possible without breaking io.Reader compatibility.

[2021-02-12 18:27] harshavardhana commented on #1451
Actually no its not possible since Read() semantics allows shorter reads i.e Read(buf(n))  is allowed to be not equal to n1 returned value

If you look at the `io.Copy()` implementation in Go you can see the value of `n` is verified properly - so it the callers responsibility here to check for exact content-length - meaning don't blindly do `io.ReadAll()` and expect that returned buffer is exactly

[2021-02-12 18:28] pracucci commented on #1451
We can also try to mitigated it on our side. I'm just wondering if the Minio behaviour is expected or not because may potentially lead to issues hard to debug (we're hearing such issue since a long time and I figured it out just today).

[2021-02-12 18:31] harshavardhana commented on #1451
The problem is perhaps our readFull() implementation is hiding the real io.ErrUnexpectedEOF v/s io.ErrUnexpectedEOF because of the buffer is bigger than the underlying stream.

Let me think more.

[2021-02-12 18:43] harshavardhana commented on #1410
This is really GCS incompatibility issue with AWS S3 we cannot use multiple different names in this manner to cater for broken compatibility.

[2021-02-12 18:43] #1410 closed

[2021-02-12 18:44] harshavardhana commented on #1410
The reason we do that because some implementations do not honor `encoding-type` query param, so we cannot assume either. We have to behave according to S3 implementation where encoding-type=url  is set returns it in XML as expected.

[2021-02-12 18:45] harshavardhana commented on #1396
start-after is similar to marker are you expecting something else?

[2021-02-14 23:23] harshavardhana commented on #1451
So I tested with a test code @pracucci I see that io.ErrUnexpectedEOF is correctly returned

[code]

[code]

[2021-02-14 23:30] harshavardhana commented on #1451
Oh wait there is an issue in the test my bad!

[2021-02-14 23:31] harshavardhana commented on #1451
Yep reproduced it.

[2021-02-14 23:49] harshavardhana commented on #1451
PR #1452 should fix this properly once and for all.

[2021-02-14 23:50] harshavardhana commented on #1442
fixed by #1444

[2021-02-14 23:50] #1442 closed

[2021-02-14 23:52] harshavardhana commented on #1423
This is fixed

[2021-02-14 23:52] #1423 closed

[2021-02-14 23:53] harshavardhana commented on #1407
@vadmeste is this fixed?

[2021-02-14 23:54] harshavardhana commented on #1083
This plan has been dropped and perhaps might never be implemented as there are simpler solutions to this instead of load balancing on the client-side.

Using solutions like https://github.com/minio/sidekick is the real answer.

[2021-02-14 23:54] #1083 closed

[2021-02-15 07:50] mweibel commented on #1410
Thanks for the response. I created an issue on Google's issue tracker for this: https://issuetracker.google.com/issues/180199987

In my opinion my proposed implementation change would still allow for this behavior and therefore would allow for both types of incompatibilities to work. As you've got one kind of fix for an incompatibility in there already, why isn't another for GCS not possible?

htt

[2021-02-15 08:10] harshavardhana commented on #1410
Unfortunately no @mweibel this is a hack

[code]

It will fail in unknown ways, that we assume URL encoding and decode valid content that is
uploaded with `%` in their names. We cannot unfortunately take such risk as this library is heavily
used and dependent in many projects.

Correct fix is server side.

[2021-02-15 10:16] vadmeste commented on #1407
No, this is not fixed and this needs a major version bump since RemoveObject() needs to return another additional result (or we add a new API ?)

[2021-02-15 13:38] pracucci commented on #1451
Thanks a lot @harshavardhana !

[2021-02-16 03:43] harshavardhana commented on #1407
We can do a version bump since there is another PR that is attempting to do version bump as well

[2021-02-16 13:17] vadmeste commented on #1407
### API changes for RemoveObjects:

**Before**:
[code]

**After**:
[code]

Before we were only returning errors, now we return successful deletion as well in the returned channel, for that RemoveObjectError is renamed to RemoveObjectResult.

[code]
I added DeleteMarker & DeleteMarkerVersionID in RemoveObjectResult{}, and I renamed VersionID to ObjectVersionID

### API changes for RemoveObject:

**

[2021-02-17 06:37] harshavardhana commented on #1451
@pracucci this should fix it https://github.com/minio/minio-go/pull/1453

[2021-02-17 18:55] thatMacAdmin opened #1454 "UNSIGNED PUT"
Hi All,

I am attempting to put a file object to my backend custom S3 instance. This instance does not allow unsigned PUTs. How do I make the client send over a X-Amz-Content-Sha256 header with the put?

[2021-02-17 18:56] harshavardhana commented on #1454
unsigned PUTs are allowed in AWS S3 when the connection is TLS - your backend should implement this appropriately.

[2021-02-17 18:56] #1454 closed

[2021-02-17 19:00] thatMacAdmin commented on #1454
I will speak with my companies S3 Object team and mention this. However, any way to force it in the meantime?

[2021-02-17 19:04] harshavardhana commented on #1454
No sir @thatMacAdmin to be properly S3 compatible the backend server should simply comply with AWS S3 behavior.

[2021-02-18 09:05] harshavardhana commented on #1407
I think we should deprecate this API, we only need RemoveObjects() AFAICS.

[2021-02-18 11:37] vadmeste commented on #1407
yeah we can do that, but the code will be little "ugly" for users who want to delete only one object:

[code]

[2021-02-18 11:45] klauspost commented on #1407
Yeah, a single delete option is much nicer API-wise.

[2021-02-18 12:07] vadmeste commented on #1407
@harshavardhana maybe we can avoid deprecating and keep the API as it is for now. Any user who wants more information about delete-marker & delete-marker-version-id will have to use DeleteObjects()

[2021-02-18 17:23] #1451 closed

[2021-02-18 17:27] harshavardhana commented on #1407
It's very rare that users only have to delete one object and we are providing a proper streaming approach. It is not a big deal to use only RemoveObjects() API

We can't add two different APIs unfortunately.

[2021-02-19 09:25] vadmeste commented on #1407
Yes, I am not adding any new API. What I am saying is, we keep DeleteObject() as it is but not deprecate it and we break DeleteObjects() to return delete marker information

[2021-02-19 18:49] harshavardhana commented on #1407
No, if we are breaking just remove older ones we don't need a single deleteObject() - for that we can use core.DeleteObject() - higher level APIs are meant for more `mc` like tools.

[2021-02-20 11:44] vadmeste commented on #1407
What about removing RemoveObject but simplifying removing one object using a new API, so it will look like this:

[code]

[2021-02-22 12:42] vvdvortsova opened #1457 "Issues found by Svace static analyzer"
Hello
These are warnings found with the Svace.
In each case, using a variable res after comparison with nil, res may be nil. It may lead to panic.
https://github.com/minio/minio-go/blob/a57fec8037ec86c0f84116a7ccec82666b71dcd5/api-get-lifecycle.go#L69

[code]

https://github.com/minio/minio-go/blob/a57fec8037ec86c0f84116a7ccec82666b71dcd5/api-get-policy.go#L70
[code]
https://github.com/minio/minio

[2021-02-22 17:01] harshavardhana commented on #1457
resp is never nil when err is not nil looks like a bogus check to me.

[2021-02-22 17:01] #1457 closed

[2021-02-24 16:55] bwplotka commented on #1451
Thanks a lot for quick turnaround 🤗

[2021-02-26 11:42] bjg2 opened #1458 "Access to the AWS request ID headers"
We have a problem that AWS requests occasionally stall for us since last Thursday, and their support asked to provide request id headers of requests that stall (here are the headers in question https://aws.amazon.com/premiumsupport/knowledge-center/s3-request-id-values/). Problem is, using FGetObject (and even GetObject for that matter) does not expose these headers, and we cannot find any interfa

[2021-02-27 06:26] kannappanr commented on #1458
@bjg2 You can use the tracing APIs to get that information

You can add this line

`s3Client.TraceOn(os.Stderr)`

here https://github.com/minio/minio-go/blob/master/examples/s3/getobject.go#L48

this will print headers returned by AWS S3.

[2021-02-27 06:26] #1458 closed

[2021-02-28 14:20] vadmeste commented on #1232
@kfelter unfortunately, Go doesn't help us to do what you asked, we cannot know if this is a temporary or permanent redirect in CheckRedirect

[code]

The only solution is to avoid overwriting endpointURL in all cases (temporary or permanent redirects), but it might be not a good option as well because that means the request will always go to the original URL and get redirected each time.

I think

[2021-02-28 14:20] #1232 closed

[2021-03-09 11:27] mvrhov opened #1461 "CopyInBucket returns wrong error"
When you use CopyInBucket functionality and source object doesn't exist, the returned error reports NoSuckKeyError, where the Key property contains the destination object. Which doesn't make any sense.
I'd say that the key property should contain source object.

[2021-03-09 12:48] vadmeste commented on #1461
Thanks.

I tested CopyObject() code and it looks it is returning correct source key name when the latter doesn't exist. Could you paste a simple reproducer of this ?

[2021-03-09 13:43] mvrhov commented on #1461
Modified copyobject example... https://play.golang.org/p/wnJpUpbbBrf

[2021-03-09 13:51] vadmeste commented on #1461
yes thanks. It looks like this is a MinIO server bug, not minio-go. I will send a fix.

[2021-03-10 08:08] GinkT opened #1462 "Have a problem using UserTags for an object"
Hello, everyone! I'm building my test project with go minio sdk. In code below i'm trying to put an object with UserTags and then list all objects from my bucket.

[code]

And the output i'm getting:
![image](https://user-images.githubusercontent.com/29507617/110596756-be206580-8190-11eb-8271-866711aed866.png)

So the question is, am i doing something wrong?

[2021-03-10 08:10] harshavardhana commented on #1462
ListObjects do not return UserTags @GinkT only UserMetadata and using this is a MinIO extension only. AWS S3 does not implement this API.

[2021-03-10 08:10] #1462 closed

[2021-03-10 08:16] GinkT commented on #1462
Thx!

[2021-03-17 10:27] GinkT opened #1464 "Trying to get a correct url by PresignedGetObject"
### Problem

I'm using PresignedGetObject in code below:
[code]

Generated url have a domain name of my docker container:
![image](https://user-images.githubusercontent.com/29507617/111452814-f04b3d80-8723-11eb-8e5d-e4deb7131de2.png)

The thing is i can't give a client this url. Where do i need to specify a public IP of my host machine to properly generate URL's for client get requests? I specifie

[2021-03-17 10:55] harshavardhana commented on #1464
Have a new constructor with the right domain name @GinkT `minio.New(...mydomain, ...)`

[2021-03-17 10:55] #1464 closed

[2021-03-18 07:23] toabi opened #1465 "Redirect handling"
I have a weird issue I noticed when trying out [terraform-provider-minio](https://github.com/aminueza/terraform-provider-minio) which uses this library.

I deployed minio with the [minio operator](https://github.com/minio/operator) and created an ingress for it. Inside the cluster in runs on cert-manager provided TLS certificates.

[code]

The weird thing is: If I use the terraform module, it can

[2021-03-18 07:31] harshavardhana commented on #1465
Redirection is poorly handled in Go net/http - you need to open the issue there - We are not S3 client there is documented way to handle S3 calls with redirection signature v4.

Sorry, we are shorthanded at the moment on this.

[2021-03-18 07:31] #1465 closed

[2021-03-18 11:29] toabi commented on #1465
Found out that it's all solved by properly configuring the protocol as mentioned in https://github.com/aminueza/terraform-provider-minio/issues/58 - sorry for the disturbance.

[2021-03-22 09:11] muhlemmer opened #1467 "SetBucketPolicy: Error not nil in case of http.StatusOK"
I am using Minio V7 with an S3 _compatible_ storage from pcextreme.com.

If I run this snippet:

[code]
I get:

[code]
The culprit seems to be:

https://github.com/minio/minio-go/blob/3e37d03ccc2b61ad87b4ab044b3111b21ccadad7/api-bucket-policy.go#L66-L68

As a work-around I do something like:

[code]

I am aware this is probably a provider specific problem, returning another code as the "standard S

[2021-03-23 13:54] fdefilippo opened #1468 "FGetObj hardcoded umask"
Hi, could you add an option to use the umask of the environment in which the application runs instead of using the hardcoded one ?

https://github.com/minio/minio-go/blob/92fe50d14294782d96402deb861d442992038109/api-get-object-file.go#L31
[code]

thank you.

[2021-03-23 13:59] klauspost commented on #1468
Just use the regular [GetObject](https://docs.min.io/docs/golang-client-api-reference#GetObject) and write the file or chmod it afterwards.

[2021-03-23 13:59] #1468 closed

[2021-03-26 14:44] bobc82 opened #1469 "Same file name on iterating ListObject"
I want read a list of files within a bucket in the minio storage. Following the documentation i do these following steps:

[code]

When i read the file list i will obtain an array with 24 items but with the same file name, eg.:

[code]

Where am I wrong?

[2021-03-26 15:41] bobc82 commented on #1469
I tried this and now works:

[code]

[2021-03-26 15:41] #1469 closed

[2021-04-03 08:14] J0Nes90 opened #1473 "PutObject and size -1 causes massive memory allocation"
Gitea is calling PutObject with PutObjectOptions size -1. When doing so with small objects around 30kbs in size the minio sdk allocates around 700MB data whereas everything works fine when providing the actual size directly.

For gitea I've created a docker compose file that uses gitea and minio + some reproduction steps.
https://github.com/go-gitea/gitea/issues/15253

[2021-04-03 15:21] harshavardhana commented on #1473
You need to control how your parts are going to be uploaded,  unfortunately there is no streaming way to upload in S3 API.

Since the chunking is done automatically inside minio-go when -1 is provided you need to make sure to have a top level partSize limit. Otherwise we will calculate the maximum possible part limit per part to upload 5TiB object maximum object size allowed in AWS S3 upto 10,000

[2021-04-03 15:21] #1473 closed

[2021-04-07 06:40] liuaiyuan opened #1474 "Why is there an inconsistent length?"
[code]
fileSize: 84481

[code]

[2021-04-07 06:42] harshavardhana commented on #1474
Not sure why but your reader is wrong here..  print your `len(fileByte)`

[2021-04-07 06:47] liuaiyuan commented on #1474
fileSize: 84481
len(fileByte): 84481
r.Size(): 84481

[2021-04-07 06:47] liuaiyuan commented on #1474
fileSize: 84481
len(fileByte): 84481
r.Size(): 84481

[2021-04-07 07:01] liuaiyuan commented on #1474
sorry!!!!

I know the problem, because I used `mimetype`, there will be no problem if I don't use it;

[2021-04-07 07:01] #1474 closed

[2021-04-07 07:05] klauspost commented on #1474
@liuaiyuan Post all the code needed to reproduce. You are probably reading from it in some code that you omitted.

`client.PutObject(ctx, "app1", "1.jpg", bytes.NewReader(fileByte), len(filByte), minio.PutObjectOptions{})`

[2021-04-07 07:06] liuaiyuan commented on #1474
yes !! Because i used `mimetype` thanks for reply

[2021-04-07 07:06] liuaiyuan commented on #1474
yes !! Because i used mimetype thanks for reply

[2021-04-08 15:04] mikaeru opened #1476 "Timeout everytime enable secure connection (https)"
Hey there!

I always get time out error every time try to upload something from an html form to my bucket. It says `Full Error Messages : Get "https://_an address_/_my bucket name_/?location=": dial tcp _an ip address_: i/o timeout{}`.

But, if i disable the secure option, it runs well. In case you want to know, I use IBM Cloud Storage

[2021-04-08 15:32] harshavardhana commented on #1476
You need to check it your backend supports TLS @mikaeru

[2021-04-10 17:44] mikaeru commented on #1476
Ahh, it's fixed now. I have no idea what's happening so there's no more error like that

[2021-04-10 17:45] #1476 closed

[2021-04-13 21:18] sdhoward opened #1478 "WARN: 500 MB memory allocation not addressed in documentation for Client.PutObject"
https://pkg.go.dev/github.com/minio/minio-go/v7#Client.PutObject

[code]

Related to https://github.com/minio/minio-go/issues/1473, please clarify that if the size is not specified, it will be assumed to be 5TB, each chunk will be assumed to be 500 MB, and that >500 MB will be allocated per upload.

[2021-04-14 18:25] findmyname666 opened #1479 "fail to upload data to AWS S3 in EU due to missing Location header"
Hello,

Request to AWS S3 is failing with following error:

[code]

This issue affects also multi-part upload.

I did following hot-fix which make it works as expected.

[code]

You can test the issue with following code.

[code]

Tested with the latest SDK version:

[code]

**Closing words:**
- I tried to set env var **AWS_REGION** but it didn't helped, no location header set + bucket URL still c

[2021-04-14 18:54] harshavardhana commented on #1479
We do not support AWS_REGION env, - we only support this with IAM AWS

Just add this in your code you are good to go

[2021-04-14 18:54] #1479 closed

[2021-04-19 06:38] fvahid opened #1480 "Create user and group by API"
I need have function to create new user and group

[2021-04-19 06:46] harshavardhana commented on #1480
Here - https://github.com/minio/minio/tree/master/pkg/madmin

[2021-04-19 06:46] #1480 closed

[2021-04-19 08:02] fvahid commented on #1480
very thanks @harshavardhana

[2021-05-04 20:15] albertomurillo opened #1485 "Missing support for credential_process"
minio-go can obtain credentials from a configured aws config file.

This process, however, only looks for static credentials and does not support the [credential_process](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sourcing-external.html) mechanism to execute an external program that obtains the required credentials.

This is useful in environments where federated authentication

[2021-05-04 20:18] harshavardhana commented on #1485
Will take a look @albertomurillo

[2021-05-04 20:20] albertomurillo commented on #1485
I have a patch for this... I am preparing the PR

[2021-05-04 22:18] the-maldridge opened #1487 "Feature Idea: detect when files need to be reloaded"
When using mechanisms such as the AWS Shared Credentials File it would be nice to detect that the file has changed and reload the credentials if necessary.  This would allow for the case where an external process such as Hashicorp Vault populates this file, or where a human using saml2iam cycles the credentials out from under a running application.

I could see this being done either by a watcher

[2021-05-04 22:26] harshavardhana commented on #1487
This is an application requirement not for an SDK to be doing this @the-maldridge - we cannot hold resources on the system. We have helpers provided which you can write custom credential handlers - write your own logic there.

But this is out of scope for us.

[2021-05-04 22:26] #1487 closed

[2021-05-04 22:27] the-maldridge commented on #1487
Thanks, I'll notify the downstream application that this is considered a defect on their part due to lack of support in the SDK.

[2021-05-11 01:19] mqsoh commented on #1109
This change doesn't help when the endpoint is an S3 address (and probably other providers). The [s3utils](https://github.com/minio/minio-go/blob/master/pkg/s3utils/utils.go) package has some regexes and string comparisons that break when the endpoint is `s3.amazonaws.com.` (trailing dot). I started working on a patch but got a little overwhelmed; I may contribute patch sometime later.

(Just like

[2021-05-12 02:23] michaelfoley1 opened #1490 "AWS Instance MetaData Service V2 support"
In 2019 AWS added a new version (v2) of their metadata service that is more resilient to relay attacks being performed against an instance's locally linked metadata API.
It would be amazing to support v2 of this API so this library can be used in environments where credentials generated using the v1 api have been disabled.

AWS announcement:
https://aws.amazon.com/blogs/security/defense-in-depth-o

[2021-05-12 02:24] harshavardhana commented on #1490
Agreed looks good to implement and thanks for the PR #1489

[2021-05-12 02:24] michaelfoley1 commented on #1490
I've proposed a solution #1489. Let me know what you think :)

[2021-05-16 23:49] michaelfoley1 commented on #1490
@harshavardhana do you have any rough guess as to when somebody would have time to have a look at this? (days vs weeks vs months)

[2021-05-17 06:07] harshavardhana commented on #1490
This week for sure @michaelfoley1

[2021-05-17 16:24] alexises opened #1492 "ListObject v1 api don't properly follow S3 api"
I'm stuck with an issue with 3rd party S3 implementation that follow the spec in a lazy mannier.

When I'm list a directory with more than 1000 file, multiples query should be made. XML return NextMarker as empty and IsTruncated as True.

According to S3 API ref, it's a valid biavior : https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjects.html

{code}
    When response is truncated (the

[2021-05-17 16:28] harshavardhana commented on #1492
The issue here is your 3rd party S3 implementation @alexises - we only use reset the marker - marker always has correct values you should the full code.

[code]

They must have incorrectly implemented the S3 API @alexises

[2021-05-17 16:28] #1492 closed

[2021-05-21 10:16] thijsheijden opened #1495 "GetObject does not return an error if the object does not exist"
Hi, I am running into an issue where the GetObject method does not return an error if the object does not exist.

This is the code I am using to retrieve the object:

[code]

Which, if the object exists returns a reader to the object, and if the bucket does not exist returns an error. However, if the bucket does exist, but the object does not, I do not get an error.

[code]

`bucket-1` exists, `ob

[2021-05-21 10:18] thijsheijden commented on #1495
This is with the latest Minio docker image running on port 9000 with the following docker run command:

`docker run -d -p 9000:9000 \
  -e "MINIO_ROOT_USER=root" \
  -e "MINIO_ROOT_PASSWORD=password" \
  minio/minio server /data`

[2021-05-21 10:35] vadmeste commented on #1495
@thijsheijden that is because you did not check the error here:
[code]

[2021-05-21 10:52] thijsheijden commented on #1495
Aha, did not know the error would be in the reader. Thanks for the quick reply!

[2021-05-21 10:52] #1495 closed

[2021-05-28 10:15] pizixi opened #1496 "Limit memory usage on PutObject [faq]"
What should I do if I use a lot of memory when uploading large files?

[2021-05-28 10:28] klauspost commented on #1496
@pizixi Limit `PartSize` or disable multipart altogether.

[2021-05-28 15:13] #1496 closed

[2021-05-28 15:14] harshavardhana commented on #1496
Or provide the correct content length for SDK to automatically calculate the optimal part size.

[2021-05-29 04:53] pizixi commented on #1496
hi：
I used your code to test @klauspost (https://play.golang.org/p/jGxIrOFE97U) and kept uploading a file of more than 300 megabytes, The memory usage increased to about 1.3G and there was no increase, there should be no memory leak, but 1.3G memory is too big for me, I tried to test with python client api, The memory usage has been stable at 33m, which is the ideal way. Is there any good way to s

[2021-05-29 18:29] harshavardhana commented on #1496
[code]

If you are passing `-1` as length SDK has to allocate 512MiB buffer to cater for the largest file possible to upload i.e 5TiB.  So don't pass `-1` as content-length - instead, specify the correct length. Such as `300MiB` length in bytes.

[2021-05-31 08:45] ziranl16 opened #1497 "Is there a way to mock Minio Client in Golang Unit tests?"
Hi, I am writing unit tests in Golang. I wonder how can I mock the Minio Client in Golang, any suggestions? Looking forward to your help.

[2021-05-31 08:57] klauspost commented on #1497
If you need a higher level, create an interface for the functions you need in the client and replace your client use with the interfaces and implement the mocking functionality you need.

If you need lower level, you can override the [Transport](https://github.com/minio/minio-go/blob/7f05f7e9774ec1860922ce5bf2f6717faf8677aa/api.go#L99) in the client (low level, complex).

[2021-05-31 09:34] ziranl16 commented on #1497
Thanks a lot @klauspost ! I will try it out immediately.

[2021-05-31 10:27] ziranl16 commented on #1497
Hi @klauspost , may I please double check, if I want to mock the makeBucket method. shall I define like this in my interface:
```MakeBucket(ctx context.Context, bucketName string, opts minio.MakeBucketOptions) (err error)``` ?
I need to use ```minio.MakeBucketOptions``` in my interface parameters, and will this kindof violates the OOP principles. I tried using my self-defined MakeBucketOptions whi

[2021-05-31 10:45] klauspost commented on #1497
@ziranl16 Great that Go is not an OOP language. To implement an interface you need to implement it with the same types. I will not go into Dependecy Injection and similar Go related stuff, you can google that.

TLDR; Create an interface, inject a `*minio.Client` or your mock as you see fit:

[code]

[2021-05-31 10:45] #1497 closed

[2021-05-31 10:49] ziranl16 commented on #1497
Thanks a lot for your detailed explanation! Thanks a lot for your help, @klauspost !

[2021-06-06 02:21] batara666 commented on #1294
what, this is weird

[2021-06-06 02:26] batara666 commented on #1294
OK, Solution for my case

And yeah, It's worked now

[2021-06-08 15:16] joewhite86 commented on #1467
This is already fixed on master: https://github.com/minio/minio-go/pull/1466

[2021-06-08 15:25] joewhite86 opened #1500 "Multipart Upload for REST APIs"
I want to provide a REST endpoint in my application, which is capable of handling multipart uploads, like S3 does already.

Since most of the functionality for this is private in the client itself I would currently need to copy over lots of code from the lib into my own.

I think it might be useful, to have public functions for this, like
- newUploadID
- uploadPart
- completeMultipartUpload

Is th

[2021-06-08 16:18] harshavardhana commented on #1500
For that we have something called as core.go - although we don't change a lot of functions there we do not provide API compatibility for these functions between new releases.

Only API compatibility provided is for published functions.

[2021-06-08 16:18] #1500 closed

[2021-06-08 16:19] #1467 closed

[2021-06-09 10:26] joewhite86 commented on #1500
Perfect, exactly what I need. Thanks

[2021-06-24 08:51] crispto opened #1508 "function GetObject cause goroutine leak"
I have a simple GetObjectByKey grpc function, in which I use GetObject，  all the requeset is failed  in the stress test （with go-stress-testing), but the number of goutine didn't go down when test is over. the target object is about 25M.
device: Mac 2021 16GB
Os: Mac os Big Sur

stress-testing command:

[code]

pprof after test:
[code]

go code:

[code]

[2021-06-24 08:59] klauspost commented on #1508
@crispto You code is hard to read, but I don't see you calling Close() on the object anywhere.

[2021-06-24 11:20] crispto commented on #1508
I just add object.Close() and the problem disappear, thanks!

[2021-06-24 11:57] #1508 closed

[2021-07-12 09:43] pkavajin opened #1510 "Minio kills itself every 12 hours"
Hey,

every 12 hours we see huge IO loads from minio which basically starve the io so much, minio itself isn't responding anymore.
Might be related to https://github.com/minio/minio/issues/6541

Couldn't find any documentation on how to disable the scanning, but found documentation on how to turn some screws to make it run smoother, but even when dramatically increasing these settings we don't see

[2021-07-12 09:50] pkavajin commented on #1510
Actually, sorry, wrong repo, my bad. Will close & recreate for minio/minio

[2021-07-12 09:50] #1510 closed

[2021-07-13 01:59] hbaiyu opened #1511 "Use options to make request's headers for executeMethod? is support？"

[2021-07-13 02:05] #1511 closed

[2021-07-13 02:05] harshavardhana commented on #1511
Please explain clearly what are you asking for, closing this issue until then.

[2021-07-13 02:55] hbaiyu commented on #1511
does it support gzip contentencoding for multpart upload&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "minio/minio-go"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月13日(星期二) 上午10:05
***@***

[2021-07-13 03:04] hbaiyu commented on #1511
uploadPart function haven't options argument&nbsp;
how set request headers

------------------ 原始邮件 ------------------
发件人:                                                                                                                        "minio/minio-go"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月13日(星期二) 上午10:05
***@*

[2021-07-13 07:38] QQGoblin opened #1512 "Get MD5 value of file ！！"
I need to implement such a function: when uploading a file to Minio, if the MD5 value of the file is the same as that of a file in Minio, the upload process will be terminated immediately!

Whether Minio has related interface, let me realize this function quickly. For example, the interface to quickly find the file MD5.

[2021-07-13 08:16] harshavardhana commented on #1512
md5 is broken using that for file checksum is a bad idea use something like

- highwayhash
- blake2b

[2021-07-13 08:16] #1512 closed

[2021-07-16 03:18] hbaiyu opened #1516 "Can files support compressed upload?"

[2021-07-16 05:44] harshavardhana commented on #1516
You need to compress and upload.

[2021-07-16 05:44] #1516 closed

[2021-07-19 08:10] hbaiyu opened #1517 "How long will the incomplete object be deleted?"

[2021-07-19 09:34] vadmeste commented on #1517
@hbaiyu incomplete multipart uploads will be automatically removed by MinIO server each 24 hours.

[2021-07-19 09:34] #1517 closed

[2021-07-19 09:42] hbaiyu commented on #1517
Can I set a timeout?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "minio/minio-go"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月19日(星期一) 下午5:35
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&n

[2021-07-19 09:44] hbaiyu opened #1518 "How long will the incomplete object be deleted? Can I set a timeout?"

[2021-07-19 15:50] harshavardhana commented on #1518
Issue was moved to server.

[2021-07-19 15:50] #1518 closed

[2021-07-19 15:50] harshavardhana commented on #1517
No you cannot

[2021-07-20 05:56] neo502721 opened #1519 "Is there any way save ip camera's rtsp stream to minio?"
Hi, I want save my ip camera's rtsp stream to minio. Is there any way? Thanks!

[2021-07-20 06:06] harshavardhana commented on #1519
@neo502721 this is outside the scope of this project. If you have a readable stream it work with PutObject()

[2021-07-20 06:06] #1519 closed

[2021-07-20 06:09] neo502721 commented on #1519
Thank you very much. I will check it.

[2021-07-20 07:47] hbaiyu commented on #1517
thanks

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "minio/minio-go"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月19日(星期一) 晚上11:50
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [mini

[2021-07-20 16:52] kannappanr commented on #1490
closing this issue as PR #1489 has been merged

[2021-07-20 16:52] #1490 closed

[2021-07-27 06:23] smanglapanw opened #1523 "Minio memory consumption keeps increasing."
I am performing a write load test on minio.  Minio version:- minio/minio:RELEASE.2021-07-15T22-27-34Z

1) trying with file size of 400 KB file to be written in memory
2) using the locust tool for load testing.
3) Minio memory consumption keeps increasing even on very small rps e.g. 7 or 8
4) Ran the load test for 1 hour.
memory usage of minio reached from 125 MB to 3.5 GB
5) start with a fresh min

[2021-07-27 06:44] harshavardhana commented on #1523
@smanglapanw

This is a toy setup - you can't expect to have a distributed system with such low memory. If you really want to keep memory under limits you should set something like MINIO_API_REQUESTS_MAX=3 (match this with your system cores).  Please provide an `mc admin profile` output etc for us to see where the memory usage is from.

This is perfectly normal - MinIO is written in Go and Go is a

[2021-07-27 06:44] #1523 closed

[2021-07-28 05:45] andreykeen commented on #1407
Are you planning to release a new version with these changes in the near future?

[2021-07-28 18:38] AtomicNibble opened #1524 "Support user provided Content-MD5"
Hello,

I already have a MD5 of object I want to upload using minio.
But it looks like minio only supports creating the MD5 itself which is a waste of CPU cycles in my case.

I thought maybe I could set it via `PutObjectOptions.UserMetadata` but `Content-MD5` is not supported in `isStandardHeader` so it will end up as `x-amz-meta-Content-MD5` which is of no use.

Would it be possible to add `Conte

[2021-07-29 15:32] AtomicNibble opened #1525 "Add support for saving markers from listing objects"
I want to be able list objects in a bucket with a limit of say 1000 and be able to save the marker and continue later.

A typically use case would be listing objects with pagination.
I see this logic is inside `listObjectsQuery` but this function is not public.

Can we add support for markers to the public interface, so a application can save and pass them?

Thanks,
Tom.

[2021-07-30 15:16] pawelkuc opened #1526 "docs: Constructor section out of date"
Docs: Constructor section is out of date https://github.com/minio/minio-go/blob/master/docs/API.md#1-constructor

the following:
[code]
has been changed by https://github.com/minio/minio-go/commit/36db8b2799b43905366788913770fb51e583b4a8 and it is now:
[code]
`NewWithRegion()` - has been removed
`NewWithOptions()` - has been removed

[2021-08-02 09:29] klauspost commented on #1525
@AtomicNibble Just use the regular marker function to resume and pass the object to resume listing.

[2021-08-02 09:58] klauspost commented on #1524
@AtomicNibble It will not work for multipart uploads, so it would not work without further modifications.

You can provide a [custom md5 function](https://github.com/minio/minio-go/blob/b39adc06d635f44bca6245e6a43e340c97e8cc37/api.go#L104) that can check for known payloads, though it isn't trivial.

[2021-08-04 03:54] lifa1225 commented on #1524
Hi,Tom.
I also need to get MD5.So when I upload the file,I will use "x-amz-meta-Content-MD5" filed.
I can see the "x-amz-meta-Content-MD5" filed in S3browser.
![image](https://user-images.githubusercontent.com/59470742/128119743-c82b1968-1301-4349-9200-9c0bfae76a73.png)

But in my program, the "ObjectInfo" returned does not contain the x-amz-meta-Content-MD5 field:
[code]
Is there any way to get x

[2021-08-04 04:16] harshavardhana commented on #1524
what you are highlighting its `x-amz-meta-s3cmd-attrs` not `x-amz-meta-content-md5`

[2021-08-04 04:23] lifa1225 commented on #1524
Sorry,it's `x-amz-meta-s3cmd-attrs`.
Is there any way to get it?

[2021-08-04 04:29] harshavardhana commented on #1524
Yes it's in objectInfo.Metadata https://github.com/minio/minio-go/blob/master/examples/s3/listobjectsV2WithMetadata.go

[2021-08-04 04:35] lifa1225 commented on #1524
I have used `WithMetadata: true`,but the returned ObjectInfo does not contain Metadata information

![image](https://user-images.githubusercontent.com/59470742/128122558-78335eac-ea32-444d-af93-19d98c13871e.png)

[2021-08-04 04:43] harshavardhana commented on #1524
Is your backend server MinIO ?

[2021-08-04 04:52] lifa1225 commented on #1524
No,my backend server is ceph-radosgw.

[2021-08-04 05:09] harshavardhana commented on #1524
UserMetadata in listing is MinIO specific API you can't use it with Ceph. You need to additionally perform HeadObject() to get the metadata.

[2021-08-04 05:37] lifa1225 commented on #1524
10/5000
thanks!
Is there a description of this function?

[2021-08-04 05:44] harshavardhana commented on #1524
You can look at https://pkg.go.dev/github.com/minio/minio-go/v7

[2021-08-04 05:45] #1524 closed

[2021-08-05 18:41] AtomicNibble commented on #1524
All my uploads are below the multipart threshold so is not a issue for my use case.

I did see the custom md5Haser function but since there is no context a solution using this would be a bit of a hack imo. It would also not be very memory efficent as the object push code allocates a full buffer for hashing.

[code]

I do think whitelisting `Content-MD5` in `isStandardHeader` only when `DisableMult

[2021-08-17 15:36] creker commented on #1478
The bigger problem I think is that buffers are not pooled.

[2021-08-17 15:38] harshavardhana commented on #1478
You can't pool random buffers @creker you can control the buffer size using PartSize

[2021-08-17 15:53] creker commented on #1478
@harshavardhana you can, you did that in the previous version of the library. Then it was removed which was a mistake I think. PartSize helps but it's not enough. Not pooling buffers still causes unnecessary load on the GC.

[2021-08-17 16:03] harshavardhana commented on #1478
We cannot we did the pooling it was worse.  S3 API unfortunately makes it very hard for us to achieve an efficient streaming-based approach.

[2021-08-23 19:37] sdhoward commented on #1478
The comment in the code should be updated so that the doc warns the user about this default behavior. I'm really not asking for anything more complicated than that.

[2021-08-23 21:49] harshavardhana commented on #1478
Feel free to send a PR to update the doc @sdhoward

[2021-08-24 03:23] ABNER-1 opened #1535 "Question about PresignedPutObject API"
Thanks for the prefect open source tools.

When I use minio SDK, I try to get a PresignedPutObject for others (not controlled by me) to put object into it.

I think I need some limits about the presigned url.
I found the header like 'x-amz-content-sha256' can do that. I can limit the user of the presigned put object url that they can only upload specific file. Of course, the object will not been s

[2021-08-24 03:27] harshavardhana commented on #1535
https://pkg.go.dev/github.com/minio/minio-go/v7?utm_source=godoc#Client.Presign use this to construct whatever you like.

[2021-08-24 03:34] ABNER-1 commented on #1535
Thanks for your answer.
I tried this API.
However it can not add a header like 'x-amz-content-sha256'  and signature including this header.

[2021-08-24 03:39] ABNER-1 commented on #1535
I found that there is a PR #1449  like my question.
However it's open and can not make it because it doesn't add this feature to Presign API.

[2021-08-24 07:10] harshavardhana commented on #1535
you can add the x-amz-content-sha256 as part of the url.Values{} query param.

[2021-08-24 11:04] ABNER-1 commented on #1535
I tested and found that it just add a query kv into url. (Will this be inclued into signature?)

And I even can not use that url to put object. I am trying to solve this problem.
But I think query param isn't the best choice.

[2021-08-30 14:24] WeirdMachine opened #1536 "ListObjects does not stop after hitting MaxKeys"
Hey there!
If i use the ListObject function like this:
[code]

I would expect to only get 5 objects returned, but it will return all objects inside the bucket.

Is this intended behavior?

[2021-08-30 14:31] klauspost commented on #1536
@WeirdMachine As the documentation states it is per request:

[code]

You can cancel the provided context if you aren't interested in more results. If you want you can set `MaxKeys` slightly higher than the number your expect to read.

[2021-08-30 14:32] #1536 closed

[2021-08-30 14:34] WeirdMachine commented on #1536
Thanks for the quick answer! I already use a context to do so.

[2021-08-31 22:38] remotejob opened #1537 "prop:Question example change/set ACL"
I use digitalocean Space https://docs.digitalocean.com/reference/api/spaces-api/

After upload object ---> default ACL:

Object owner:
Display name: "264981"
ID: "264981"
Object grant:
 - Display name: "264981"
 - ID: "264981"
 - URI: ""
 - Permission: "FULL_CONTROL"
key: Content-Type
 - value: [text/javascript]
key: X-Amz-Acl
 - value: [private]

-------------------------------------
But I need:

[2021-08-31 22:49] harshavardhana commented on #1537
We do not support ACLs @remotejob - ACLs are deprecated ways to manage object access. Please move to bucket policies.

minio-go does not implement support for ACLs

[2021-08-31 22:49] #1537 closed

[2021-09-10 03:33] zhangjh1984 opened #1543 "is there a bug the part Number can't be zero when use the signed URL to upload files in segments with encryption"
the partNumber parameter cannot be zero When I use the signed URL to upload files in segments with encryption, but it is normal if it is not encrypted。

i find it's happend in getOpts method in object-api-options.go
[code]

[2021-09-10 05:00] harshavardhana commented on #1543
There is no bug here set correct part number 0 is not a valid part number

[2021-09-10 05:00] #1543 closed

[2021-09-18 16:01] vadmeste opened #1552 "tests: Add functional tests for bucket tagging"
Add functional tests for bucket tagging, PUT/GET/DELETE.

[2021-09-19 18:53] jack5341 opened #1553 "Timeout Control"
I want to use context at `ListBuckets()` but looks like there is no way to use it with context. My main goal is to set a again timeout.

[2021-09-19 19:20] harshavardhana commented on #1553
ListBuckets is already a context-based API - docs are outdated.

[code]

[2021-09-19 19:20] #1553 closed

[2021-09-21 04:41] #1526 closed

[2021-09-28 10:50] julienrbrt commented on #1537
I was wondering the same and this does the job:

[code]

Credits to https://www.digitalocean.com/community/questions/how-to-set-permission-of-all-files-in-a-bucket-as-public-on-every-upload

[2021-09-28 16:26] harshavardhana commented on #1537
No it does not.

[2021-10-01 12:39] dtelyukh opened #1561 "Client downloads zero-length file (zip problem?)"
Go version: go1.16.8 linux/amd64
Minio client (go) version: v7.0.14
Minio server version: RELEASE.2020-12-10T01-54-29Z

Code snippet:
[code]

Expected result: file fully downloaded
Actual result: file zero-length

On S3-storage file has normal length:

[code]

The file, which I try to download (25395 bytes): https://disk.yandex.ru/d/7w6v6TXVN2u4PQ

[2021-10-01 13:03] dtelyukh commented on #1561
P.S. the problem that the file uploaded with wrong content-type

[2021-10-01 13:04] klauspost commented on #1561
Modified your example a bit, and uploaded the payload to `play.minio.io` (running latest MinIO server):

Using `github.com/minio/minio-go/v7 v7.0.15-0.20210928020726-a58653d41dd8` (though that hardly should make a difference)

[code]
Gives the output of:

[code]

If you are running this old a version of MinIO, I suggest upgrading.

[2021-10-01 13:16] dtelyukh commented on #1561
It uploads from nodejs-application. Content-type=application/octet-stream

[2021-10-01 13:32] klauspost commented on #1561
@dtelyukh I reuploaded with another content-type. Same result:

[code]

Not sure what happened to you, but it doesn't reproduce.

[2021-10-01 13:32] #1561 closed

[2021-10-01 13:38] dtelyukh commented on #1561
@klauspost

I found, how to make it broken. It need Content-Encoding=gzip

[code]

[2021-10-01 13:43] dtelyukh commented on #1561
But on play.min.io it doesn't reproduce

[2021-10-01 14:06] dtelyukh commented on #1561
The problem was in reverse proxy. Solved.

[2021-10-04 12:04] mikegit21 opened #1562 "list_objects transforms whitespaces into "+""
When using the list_objects method to get the names of all files in the bucket:

[code]

The file names will be returned without whitespaces but "+" characters instead. This would be okay if the fget_object method, which i use afterwards to download all the files, would be able to deal with those file paths, but it's not. Calling this method using a name resulting from the list_objects method resu

[2021-10-04 12:20] klauspost commented on #1562
@mikegit21 This doesn't look like the Go SDK. Which language are you using?

[2021-10-04 12:30] mikegit21 commented on #1562
Wrong SDK page, sry ...

[2021-10-04 12:30] #1562 closed

[2021-10-09 04:31] TestMsr opened #1566 "Allow Last-Modified time format to support single digit parsing"
server return
Sun, 1 Jan 2006 12:00:00 GMT

the default http.TimeFormat parse failed .change to
Sun, 01 Jan 2006 12:00:00 GMT

it can be parsed

the first time format can be find here by s3 doc
https://docs.amazonaws.cn/AmazonS3/latest/API/API_HeadObject.html#API_HeadObject_ResponseSyntax

`date, err := time.Parse(http.TimeFormat, h.Get("Last-Modified"))`

[2021-10-09 05:53] harshavardhana commented on #1566
Please provide a reproducer, this is an incomplete issue.

[2021-10-09 06:58] TestMsr commented on #1566
@harshavardhana
some s3 compatible object storage return Last-Modified header with single digit day,minio-go can not handle this.
but aws-sdk-go can parse this format.as you can see here [https://github.com/aws/aws-sdk-go/blob/main/private/protocol/rest/unmarshal.go#L233](url)

so i think we should use RFC822TimeFormat too,it can parse both time style

[2021-10-11 09:36] TestMsr opened #1567 "More options in retry timer"
1.There is no perception for us when a retry happens
2.When the network is bad,such as we meet a dns server probability timeout
outside minio we can just see some request is really slow

~~So if minio-go can add extra options to control MaxRetry?~~
And if we can add trace log while retry happened

[2021-10-11 09:41] TestMsr commented on #1567
Got it!
I will change the content

[2021-10-11 09:54] #1567 closed

[2021-10-12 10:25] klauspost commented on #1052
@daudfauzy98 If you need to abort early. You can send nil if you don't intend to stop.

[2021-10-13 08:20] Turing-Chu opened #1569 "PresignedGetObject get directory object can not access in url"
the following code is that i generate uri with `PresignedGetObject`. Heare objectName is directory name
[code]
but I can not access or download this directory. it returns:

GET http://MY_IP:MY_PORT/datacollect/6839516898321760256/?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=minioadmin%2F20211013%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211013T081245Z&X-Amz-Expires=86400&X-Amz-SignedHeade

[2021-10-13 08:39] Turing-Chu commented on #1569
Actually, I want the function of this button in `minio-go`

![image](https://user-images.githubusercontent.com/13805470/137098064-5712c081-d5eb-4020-856d-9d503a7096f3.png)

[2021-10-14 20:32] patchthecode opened #1571 "server gave HTTP response to HTTPS client error"
I am running Min.io from docker.

I can login on the webbrowser using my username and password.
<img width="831" alt="Screen Shot 2021-10-14 at 4 29 10 PM" src="https://user-images.githubusercontent.com/2439146/137390772-44ec6e88-2306-4eb4-9481-0054618c3fd0.png">

Now i am trying to use the Goland SDK using the example here -> https://docs.min.io/docs/golang-client-api-reference.html#ListBuckets

[2021-10-14 21:50] patchthecode commented on #1571
I am lost because i am only trying to get the sample code to work.  After i can at least get that working, then i can really dive into my own custom code.

[2021-10-14 22:21] harshavardhana commented on #1571
Don't point your code to console - you need to point to MinIO i.e on port 9000

[2021-10-14 22:24] harshavardhana commented on #1571
You should also again read the banner that we print on all startup

[code]

For API access use this endpoint, for console access use this endpoint.  Do not understand how does anyone misses this?

[2021-10-14 22:45] harshavardhana commented on #1571
Just do `docker-compose logs` you shall see it.

[2021-10-15 01:21] Turing-Chu commented on #1569
I call login with webrpc, get token with webrpc and then call /minio/zip?token=xxx api to download a directory.

[2021-10-15 04:02] patchthecode commented on #1571
Thanks it works.

For what its worth, maybe many people do not see that log because they are running it from docker as i am.
I had no idea i had to tail the logs to see that instruction.

Maybe you guys can put that instruction of the documentation website.
Have a good one.

[2021-10-16 16:34] patchthecode opened #1572 "Multipart uploads of large files using a presigned URL"
Is your feature request related to a problem? Please describe.
The SDKs doesnt seem to provide multipart uploads of large files using presigned URLs out of the box.

Describe the solution you'd like
I would like the SDKs to provide this. Or at the very least, is there some tutorial in your documentation on how to accomplish this?

[2021-10-16 18:52] chavacava opened #1573 "Typo in struct tag"
https://github.com/minio/minio-go/blob/3b57c1e369caa0d882ba2271dbc52d16795fb3b5/api-restore.go#L71

`omiempty` should be `omitempty`

[2021-10-17 02:14] #1573 closed

[2021-10-18 18:22] #1566 closed

[2021-11-02 09:03] TestMsr opened #1577 "Add slash to x-amz-copy-source header"
aws s3 doc shows the x-amz-copy-source pattern: \/.+\/.+

minio-go ignore the first slash，both style accepted with aws s3，i think we should follow the document

(i met a s3 compatiable storage only support this pattern)

[2021-11-02 15:18] harshavardhana commented on #1577
Ask your S3 compatible storage to support both formats. We shall keep the way it works with AWS S3 for now as there is no reason to change this.

[2021-11-02 15:18] #1577 closed

[2021-11-03 14:11] SpaWn2KiLl opened #1578 "Host header not working PresignHeader method"
The generated URL has an invalid signature when using `host` header.

[code]

The expected result was a generated URL that would be valid to call using `custom-domain.com` host. Instead, the generated URL never works using either `localhost` or `custom-domain.com`.

After some digging, I found out that this is the generated `canonicalRequest`:
[code]

This is the expected `canonicalRequest`:
[code

[2021-11-05 09:45] suraciii opened #1581 "Please consider adding option to opt-out chunked uploads"
Hi, I was diving into using minio-go to upload objects to a S3-compatible (but not fully compatible🙁) object store, it didn't support chuncked uploads, which are using by minio-go by default.

Similar issue like #774 and #1194.

Also I found if I force minio-go using multipart stream uploads, this issue can be avoid, so for now I'm doing so in a fork as a workaround.

Is it reasonable to: 1. add a

[2021-11-05 09:46] harshavardhana commented on #1581
You can set `opts.DisableMultipart = true`

[2021-11-05 09:46] #1581 closed

[2021-11-05 09:52] suraciii commented on #1581
@harshavardhana Sorry I didn't explain myself well -

I'm not trying to disable multipart.
`c.putObjectMultipartStream` - this works well
`c.putObject` - this not, s3 server reply with chunked not support error.

So what I request is to support using `c.putObjectMultipartStream` always, even for small objects, or make `c.putObject` using non-chunked uploads.

[2021-11-05 10:59] harshavardhana commented on #1581
You can talk to your S3 compatible storage over TLS - it automatically disables chunked uploads.

[2021-11-15 11:57] bboreham opened #1583 "StatObject validates names twice"
Either `statObject` should not be doing the validation, or `StatObject` is redundant, because the first 7 lines of each function are identical.

https://github.com/minio/minio-go/blob/daea25af3ddbba88ddd7201c052d538348e4676a/api-stat.go#L60-L80

[2021-11-15 15:03] #1578 closed

[2021-11-15 15:38] harshavardhana commented on #1583
what is the problem if it does double validation? @bboreham - feel free to clean it up if you wish.

It is simply duplicated due to layers of re-use and historical.

[2021-11-15 16:39] bboreham commented on #1583
Problems include run-time cost and unnecessary code for the reader to understand.

[2021-11-15 16:58] harshavardhana commented on #1583
runtime cost? can you show me?

[2021-11-15 17:24] #1583 closed

[2021-11-15 17:32] bboreham commented on #1583
I don't know why you're being so aggressive here.

https://github.com/minio/minio-go/blob/daea25af3ddbba88ddd7201c052d538348e4676a/pkg/s3utils/utils.go#L350-L355

[2021-11-15 18:21] harshavardhana commented on #1583
Not mean to be aggressive,  our wish is to get more information into this issue.

Since you said runtime cost - can you share how you measured it? we would like to avoid costs that are greater than the HTTP costs so it is important that we get enough information.

However, the de-duplication of the code is fixed in the master branch.

[2021-11-18 06:47] ior308 opened #1587 "Object rename API"
Is there or is planned to have a renameObject API instead of copying and deleting ?

Best Regards

[2021-11-18 06:52] harshavardhana commented on #1587
There is no renameObject in AWS S3 spec, so it won't be implemented I am afraid.

[2021-11-18 06:52] #1587 closed

[2021-11-19 08:28] TestMsr opened #1588 "Parse expires response header broken after #1566"
I got a response header in ceph like this

- Expires: 1632280617

cause parse err.

https://github.com/minio/minio-go/commit/56f3625bd90b6a3bf44559258307b8d2f5a5047c#diff-8b7f25bac2ae04c2ce2abb628c6aa28103fd113103a62f3e9d232fa995684915L292

is there any reason that expires parse err was ignored before?

[2021-11-19 08:32] harshavardhana commented on #1588
Ask Ceph to fix their implementation

[code]

Header is `HTTP-Date` https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expires

Also, reference the HTTP1.1 spec https://httpwg.org/specs/rfc7234.html#header.expires

Its not ignored to expose broken implementations.

[2021-11-19 08:32] #1588 closed

[2021-11-19 09:09] TestMsr commented on #1588
@harshavardhana it can be reproduced in aws s3

step:
1.presigned a put url with minio-go
2.put object bypass minio gateway s3
3.stat the object directly

minio-go trace:
HEAD /exp HTTP/1.1
Host: *.s3.dualstack.us-east-1.amazonaws.com
User-Agent: MinIO (linux; amd64) minio-go/v7.0.15
Authorization: AWS4-HMAC-SHA256 Credential=**REDACTED**/20211119/us-east-1/s3/aws4_request, SignedHeaders=host;x-am

[2021-11-19 09:23] harshavardhana commented on #1588
Their documentation says

https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html

[code]

We shall stick to HTTP standard here..

[2021-11-19 09:24] harshavardhana commented on #1588
And also recommends

[code]
So you are better off moving away from "Expires:" header @TestMsr

[2021-11-19 10:04] TestMsr commented on #1588
There is no way for me to avoid this. I use presinged v2 signature to put object with minio and the url contains expires param.
And minio set the expires url query as header.
So it maybe the minio's bug.Is' the way  minio should fix this.

my reuqest to minio:
curl --location --request PUT 'http://-:9000/bucket/exp?AWSAccessKeyId=-&Expires=1637315151&Signature=-' \
--data-raw 'as'

and the minio g

[2021-11-19 16:37] harshavardhana commented on #1588
Yes this is a MinIO bug, but it is also an error from AWS S3 they are not parsing things properly.

The Expires param in presigned v2 - is not the same value as Expires metadata for an object.

[2021-11-20 13:05] TestMsr commented on #1588
Got it!

[2021-11-22 06:04] DevOpserzhao opened #1589 "Cannot assign a value to the unexported field 'retrieved'"
[code]
ture is error

Cannot assign a value to the unexported field 'retrieved'

[2021-11-22 08:45] harshavardhana commented on #1589
You need to use `credentials.NewFileAWSCredentials()`

[2021-11-22 08:45] #1589 closed

[2021-11-23 13:04] lubishata opened #1590 "Cannot GetObject after Stat call"
Hello,

I'm trying to make streaming zip write and zip read from minio test server and I'm experience very strange issue when reading content of the file after I've got Stat().

        `endpoint := "s3.xxxxxxx.xxx"
	accessKeyID := "xxxxxxxxx"
	secretAccessKey := "xxxxxxxxxxx"
	useSSL := true

	minioClient, err := minio.New(endpoint, &minio.Options{
		Creds:  credentials.NewStaticV4(accessKeyID, s

[2021-11-23 14:07] vadmeste commented on #1590
@lubishata I wasn't able to reproduce this. Can you paste the log ? just add this `minioClient.TraceOn(os.Stderr)` after initialization of minioClient

[2021-11-23 14:13] lubishata commented on #1590
Sure,

Here it is:
`---------START-HTTP---------
GET /bucket1/?location= HTTP/1.1
Host: s3.xerberos.com
User-Agent: MinIO (windows; amd64) minio-go/v7.0.15
Authorization: AWS4-HMAC-SHA256 Credential=**REDACTED**/20211123/us-east-1/s3/aws4_request, SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=**REDACTED**
X-Amz-Content-Sha256: UNSIGNED-PAYLOAD
X-Amz-Date: 20211123T141446Z
Accept-En

[2021-11-23 14:25] vadmeste commented on #1590
@lubishata most likley your load balancer is changing something in your request. Can you bypass it for now and test it ?

[2021-11-23 14:49] lubishata commented on #1590
Yep,  you're absolutely right. It seems that nginx changing headers. I'll find out what in the config is the problem and let you know.
Thanks a lot.

[2021-11-23 14:53] #1590 closed

[2021-11-23 14:56] lubishata commented on #1590
proxycache  was turned on and this was the reason.

[2021-11-26 08:34] suraciii commented on #1581
@harshavardhana Thank you

[2021-12-01 09:25] tomqwpl opened #1593 "Specify ContentType on PutObject, not returned in ObjectInfo.ContentType from ListObjects?"
I have an odd issue I'm trying to understand.
I create an object in MinIO using PutObject, and specify a ContentType:
[code]
I can see in minio console that the content type has been stored, under "Object Metadata" there is an entry for "content-type".
When I then use ListObjects to retrieve information about the object however, I don't get the ContentType back:
[code]

The `o.ContentType` field i

[2021-12-01 09:33] harshavardhana commented on #1593
ContentType is not populated @tomqwpl this is only populated during StatObject()/GetObject() - HTTP header availability.

ListObjects do not return such HTTP headers so they are populated as part of UserMetadata. So use UserMetadata.

NOTE: this is just a MinIO extension AWS S3 doesn't return any content-type in ListObjects.

[2021-12-01 09:33] #1593 closed

[2021-12-01 09:36] tomqwpl commented on #1593
OK, that explains it.
Thanks.

[2021-12-02 05:56] mohsha-msft opened #1594 "Retrying error "read: operation timed out" in ListObjectsV2 API"
We're getting "read: operation timed out" from ListObjectsV2 API. Now, this error is retriable and most likely will be resolved by making another retry.

Question: Do you have any documentation on how we can retry when APIs return these errors? In general, is there a way client app can control retrying of an given API? If you can provide us some examples, it'd be super amazing.

Thanks

[2021-12-02 06:08] harshavardhana commented on #1594
First of all, this should never happen - if this is happening means that either your server is saturated and not responding anymore.

Or your client doesn't have enough bandwidth.

Please provide trace output by setting setTraceOn()

[2021-12-02 06:27] mohsha-msft commented on #1594
Thanks for your quick response. I'll try to set TraceOn() on the S3 Client and get back to you. I'll also check if the server is getting saturated or not.

But can we (client) control the retrying parameters of a given API? For instance, if we want to provide a different retry value (say 20 times) or retry on certain errors only?

[2021-12-02 07:39] harshavardhana commented on #1594
This SDK retries automatically up to 10 times - so we need to see what is the error here and if we can handle it and automatically retry.

[2021-12-06 12:15] danielsf97 opened #1595 "Breaking Change: Get Object ACL"
I have recently upgraded the minio-go package from version v7.0.10 to v7.0.16 and the GetObjectACL method does not work anymore failing with error: "expected element type \<Owner\> but have \<Access Control Policy\>".
Anyone knows a solution to this problem?

Go version: 1.15

Thanks in advance.

[2021-12-06 13:23] klauspost commented on #1595
@danielsf97 You you add a bit more context to the error?

Which Go version are you using?

[2021-12-07 23:29] harshavardhana commented on #1594
Please reply to my comment, closing this as non-actionable until then.

[2021-12-07 23:29] #1594 closed

[2021-12-07 23:29] #1525 closed

[2021-12-07 23:31] harshavardhana commented on #1407
This enhancement is not needed refer PR #1456

[2021-12-07 23:31] #1407 closed

[2021-12-07 23:36] #1478 closed

[2021-12-07 23:36] harshavardhana commented on #1396
Added in #1509

[2021-12-07 23:36] #1396 closed

[2021-12-07 23:38] harshavardhana commented on #1595
GetObjectACL implementation has not changed in years - closing this as there is no relevant reproducer present in the issue description.

[2021-12-08 12:14] danielsf97 commented on #1595
I'm using version 1.15.  Updated the issue.

[2021-12-08 14:35] klauspost commented on #1595
@vadmeste Could you check if this is a regression from #1538

[2021-12-08 14:40] klauspost commented on #1595
I think this makes it embedded:
[code]
Maybe it should be:

type accessControlPolicy struct {
	Owner Owner `xml:"Owner"`
	AccessControlList AccessControlList `xml:"AccessControlList"`
}

[2021-12-08 16:47] vadmeste commented on #1595
@klauspost I will check.

[2021-12-09 20:15] elagergren-spideroak opened #1597 "remove jsoniter dependency"
The dependency `github.com/json-iterator/go` uses `github.com/modern-go/reflect2`, which calls `(reflect.Value).MethodByName`. Calling that method puts the linker into a conservative mode where it does not dead-code eliminate _any_ exported methods.

This causes executable sizes to balloon. As a test, replacing `github.com/json-iterator/go` with the stdlib's `json` package reduced the size of an e

[2021-12-09 20:17] harshavardhana commented on #1597
Very cool @elagergren-spideroak feel free to send a fix.

[2021-12-09 20:32] elagergren-spideroak commented on #1597
Oops, I actually got my wires crossed. I meant to post the bit about DCE and binary sizes elsewhere (another dependency of ours).

What I _meant_ to post here is that `github.com/json-iterator/go`, which uses `github.com/modern-go/reflect2`, is an expensive dependency. In total, it's about 1 MB of the total executable size. Replacing it with the stdlib removes that cost.

[2021-12-09 21:00] harshavardhana commented on #1597
Sure the reason for us to use jsoniter is performance so if it's 1MiB cost then it's not a big deal.

We want to make sure we don't bloat the binary unnecessary but 1MiB be tolerable.

[2021-12-10 19:40] minio-trusted commented on #1595
This is fixed in latest release v7.0.18

[2021-12-10 19:40] #1595 closed

[2021-12-10 19:41] minio-trusted commented on #1535
https://pkg.go.dev/github.com/minio/minio-go/v7#Client.PresignHeader - This the API that addresses x-amz-content-sha256 requirement.

[2021-12-10 19:41] #1535 closed

[2021-12-17 03:06] jkowalski opened #1600 "UploadInfo.LastModified is not populated by PutObject()"
I was hoping to use `UploadInfo.LastModified` returned by `PutObject()` to get the server-assigned modification time of the blob in one shot, without having to go through separate `StatObject()` but it always returns `time.Time{}`

I scanned through the source code and it seems to be only set in `CopyObject` but not inside `putObjectDo()`.

Is that intentional? server limitation? or a client bug?

[2021-12-17 03:28] harshavardhana commented on #1600
Server never sends ModTime response in S3 protocol. We do not want to waste call doing another Stat() operation.

Do this yourself outside.

[2021-12-17 03:28] #1600 closed

[2021-12-17 03:29] harshavardhana commented on #1597
jsoniter is tolerable..

[2021-12-17 03:29] #1597 closed

[2021-12-17 03:44] jkowalski commented on #1600
Should the field be removed or made nullable to indicate it's not always set?

[2021-12-17 05:09] harshavardhana commented on #1600
the returned value is LastModified.IsZero() that is null in Go.

[2021-12-24 10:28] byzhaozihan opened #1603 "How to convert several csv files on s3 to compressed files"
Assuming that there are multiple csv files on s3, how can I compress them into zip files and upload them to s3?

[2021-12-24 10:52] #1603 closed

[2022-01-03 03:52] copart opened #1606 "minio-go and CVE-2021-43858"
is minio-go affected by CVE-2021-43858  ?

https://github.com/minio/minio/security/advisories/GHSA-j6jc-jqqc-p6cx

[2022-01-03 05:34] harshavardhana commented on #1606
No

[2022-01-03 05:34] #1606 closed

[2022-01-14 00:57] furiousassault opened #1608 "SetBucketPolicy: no error if 403 Forbidden"
Good day. Thank you for your awesome library.

I've tried to remove existing bucket policy from my bucket on a local minio setup using minio-go.
I forgot to set the "s3:DeleteBucketPolicy" permision on my user, and policy removal did not happen, but with nil error, while the actual response from API was 403 Forbidden.

Steps to reproduce:
1. Create minio bucket, set any bucket policy, like `public

[2022-01-14 16:38] #1608 closed

[2022-01-17 09:47] MB175 opened #1610 "Broken / obsolet links in the Docs"
The docs links to put/get object-context.go seem to be to be either broken or deprecated.

https://github.com/minio/minio-go/blob/88cce13bbaa57b76730ee91398283e030cff6883/README.md?plain=1#L223
https://github.com/minio/minio-go/blob/88cce13bbaa57b76730ee91398283e030cff6883/README.md?plain=1#L224

[2022-01-17 11:46] k963 opened #1611 "GOLANG SDK support is not working as expected"
I was following the quick start guide for Golang SDK  (https://docs.min.io/docs/golang-client-quickstart-guide.html). I'm facing the issue while running the program and I cant import the minio package  "github.com/minio/minio-go/v7". The "v7" folder isn't available inside the package folder when I checked in my system and go get command is not successful.

Even I used go playground to test the cod

[2022-01-17 11:53] klauspost commented on #1611
@k963 Your Go version is probably too old. Upgrade to 1.17.x

Playground isn't failing, it is simply timing out.

[2022-01-17 11:53] #1611 closed

[2022-01-17 18:02] #1610 closed

[2022-01-20 11:57] delgec opened #1612 "How can I access the Public URL?"
Hello everyone

How do I get the public access link (absolute path) after uploading an image?

Thanks

Example:
https://s3.abc.com/my-avatar.png

[2022-01-20 13:39] klauspost commented on #1612
Assumin you have anon access, just like you would build a regular url: https://go.dev/play/p/hoDZhz8c4Tb

[2022-01-20 13:39] #1612 closed

[2022-01-20 18:21] delgec opened #1613 "Access Denied problem for public image"
Hello everyone

I uploaded an image and I checked the file after upload. It was exists but when I open the browser, I am getting an error (access denied)

How can I fix this?

Error:
AccessDeniedAccess Denied.no-image.pngzu-bucket3/zu-bucket3/no-image.pngus-east-116CC0D0E60C1333Fc1758167-4426-454f-9aae-5c3dfdf6df64

Absolute path:
https://play.min.io/zu-bucket3/no-image.png
http://s3.amazonaws.com

[2022-01-20 18:23] harshavardhana commented on #1613
Bucket needs a public anonymous policy - all objects need authentication by default. `mc policy set download play/zu-bucket3` to make sure the object is publicly accessible.

[2022-01-20 18:23] #1613 closed

[2022-02-03 11:21] lromor opened #1616 "Change host during pre-signed url creation."
The minio client instantiation doesn't seem to allow offline pre-signed url generation (https://github.com/minio/minio/issues/14241, https://github.com/minio/minio/issues/10222).

If I try to instantiate a client with an unreachable host to generate a presigned url I get:

[code]

What I'm trying to show here is that I couldn't find a way to generate a presigned url when offline using your client.

[2022-02-03 17:36] harshavardhana commented on #1616
you need to generate pre-signed URL by providing the necessary `Host` header in the https://pkg.go.dev/github.com/minio/minio-go/v7#Client.PresignHeader

[2022-02-03 17:36] #1616 closed

[2022-02-07 12:32] montag451 opened #1618 "CustomSHA256 doesn't seem to be used when uploading object"
Hi,

I'm trying to use a custom implementation for computing SHA256 checksums (I want to use the AVX512 version of [sha256-simd](https://github.com/minio/sha256-simd#support-for-avx512)) but my custom function is never called. In which circumstances the `CustomSHA256` function provided when creating `minio.Client` is used?

[2022-02-07 13:12] klauspost commented on #1618
Described here: https://github.com/minio/minio-go/blob/cb21d7dd9e4faec51eb6125f008ae0e7d8414960/api.go#L312

[2022-02-07 16:35] #1618 closed

[2022-02-09 13:16] juanmachuca95 opened #1620 "v7.Client has no field or method ListObjectsOptions"
Sorry if my problem is silly. But I can't understand why the same code from the documentation doesn't work for me.

When executing the code I get: minio.ListObjectsOptions undefined (type *v7.Client has no field or method ListObjectsOptions)

[code]

My mod.go
[code]

my sum.go:

[code]

I would really appreciate the help

[2022-02-09 13:24] vadmeste commented on #1620
@juanmachuca95 Can you point us to the documentation ?

[2022-02-09 13:26] juanmachuca95 commented on #1620
https://docs.min.io/docs/golang-client-api-reference.html#ListObjects

[2022-02-09 13:35] vadmeste commented on #1620
You have a typo here, minio seems to be the package name. It should be a MinIO client.

[2022-02-09 13:35] #1620 closed

[2022-03-01 18:15] saracen opened #1625 "IMDSv2 slow response"
https://github.com/minio/minio-go/pull/1489 introduced `IMDSv2` support. Similar to the issues described in the official AWS SDK (https://github.com/aws/aws-sdk-go/issues/2972), the IAM credential provider potentially introduces a several minute delay.

A workaround appears to be to [adjust the EC2 instances hop limit](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metada

[2022-03-01 18:21] harshavardhana commented on #1625
Sure feel free to send a PR @saracen

[2022-03-02 18:58] #1625 closed

[2022-03-25 16:58] nash-az opened #1628 "StatObject Access Denied"
When calling `StatObject()` or `Object.Stat()` an Access Denied error is returned. This behaviour affects even root users.
The cli equivalent `mc stat ...` works just file with the same creds

[2022-04-01 08:52] superseb opened #1629 "Sync ignored v4 presign headers"
It seems like we are facing a similar issue as described in https://github.com/minio/minio-java/issues/1067 and it was solved in https://github.com/minio/minio-java/pull/1071.

Looking through the code, it seems the headers could be synced between the libraries (https://github.com/minio/minio-java/blob/master/api/src/main/java/io/minio/Signer.java#L58 and https://github.com/minio/minio-go/blob/mas

[2022-04-10 20:56] jhwz opened #1632 "Inconsistent LastModified field"
I had a brief search and could not find a similar issue.

When fetching object info via `client.StatObject` and `client.ListObjects` the last modified field is not equal. For `StatObject` the LastModified field only seems to be accurate to the second, but `ListObjects` seems to be accurate to the millisecond.

For example the below test:
[code]

outputs:

[code]

I'm unsure as to why the upload in

[2022-04-10 22:02] harshavardhana commented on #1632
Generally Stat() should have same level of time resolution, looks like it's getting truncated due to the fact of time.rfc339 parsing.

[2022-04-10 22:05] jhwz commented on #1632
Hopefully an easy fix then - thanks.

[2022-04-11 01:04] QCU87Z opened #1633 "How to provide self signed cert"
Morning,

I have been playing with minio and minio-go this morning. I have followed the "How to secure access to MinIO server with TLS"

How do I provide that cert to minio-go to by-pass "x509 certificate signed by unknown authority". I cannot get the cert signed by a normal external CA currently. Also the other client that I want is NiFi which must have a HTTPS endpoint.

I cannot find anything i

[2022-04-11 01:37] #1633 closed

[2022-04-14 10:19] vadmeste commented on #1632
@jhwz what is your S3 server here ?

[2022-04-16 02:54] jhwz commented on #1632
`MinIO, version: 2022-04-01T03:41:39Z` as stated above

[2022-04-16 03:08] #1629 closed

[2022-04-17 09:53] chavacava opened #1641 "suspicious assignment to a by-value method receiver"
In the code below, `m.Hash = nil` (line 537) [will not affect the original hash wrapper](https://go.dev/play/) because it is passed as a by-value receiver.
https://github.com/minio/minio-go/blob/81421700594718ae2915d3b2b8f72b23ba8dd5cf/utils.go#L528-L538

(Found with [`revive`](https://github.com/mgechev/revive))

[2022-04-18 16:30] #1632 closed

[2022-04-19 15:59] #1641 closed

[2022-04-21 09:30] chenqichen opened #1643 "putObjectMultipart"
where is putObjectMultipart?

[2022-04-28 09:44] abbasymot opened #1647 "Hi, I request to get uploaded documents, It find docs and return the URL but the status code is not 200, its 404"
[code]

![image](https://user-images.githubusercontent.com/96351106/165725371-216b89b0-6dd8-4bc3-92f5-638d5d4d5be0.png)

If I delete the if statement I get urls
![image](https://user-images.githubusercontent.com/96351106/165726519-507b66e1-e1ba-46fa-84a4-b9ec16f95da1.png)

[2022-04-28 09:50] klauspost commented on #1647
Creating a presigned URL does not check if the object exists. It is a client-side operation.

[2022-04-28 11:27] abbasymot commented on #1647
Thanks, but  what should I do instead?

[2022-04-28 11:47] klauspost commented on #1647
You can use `StatObject` to see if the object exists.

[2022-04-28 11:52] abbasymot commented on #1647
Thank you

[2022-04-28 12:04] #1647 closed

[2022-04-30 08:11] abbasymot opened #1648 "How can I upload multiple documents?"
Hi, I have a filed that I don't know how many docs user will upload, Can you help me what can I do?

[2022-04-30 11:37] kannappanr commented on #1648
as the user selects documents, you can upload one by one by using https://docs.min.io/docs/golang-client-api-reference.html#PutObject

[2022-04-30 11:37] #1648 closed

[2022-05-07 11:21] wangchuxiao-dev opened #1650 "FPutObject method error with use ssl"
FPutObject return error is: XML syntax error on line 1: element <link> closed by </head>]]

nginx config:
[code]
10005 was minio 9000 port

minio version: RELEASE.2022-02-26T02-54-46Z

sdk version: github.com/minio/minio-go/v7

my upload code:

[code]

[2022-05-09 09:26] vadmeste commented on #1650
@wangchuxiao-dev minio-go error means it did not get the expected answer. Most likley there is an issue in your configuration (it looks like it is receving HTML and not XML from MinIO)

By the way, you cannot modify the request path in your load balancer, https://docs.min.io/docs/setup-nginx-proxy-with-minio.html

[2022-05-09 09:26] #1650 closed

[2022-05-19 04:53] candraalim opened #1652 "New AWS region - ap-southeast-3"
There are new AWS region Asia Pacific (Jakarta) - ap-southeast-3. When we accessing those region, resolve to default us-east-1

[2022-05-19 14:04] #1652 closed

[2022-06-07 10:18] lapwat opened #1659 "[docs] What is the default part size ?"
The part size indicated in the docs is 128MiB.

https://docs.min.io/docs/golang-client-api-reference.html#PutObject

But the code indicates 16MiB.

https://github.com/minio/minio-go/blob/master/api-put-object.go#L217-L228

What is the default part size of the chunk ?

[2022-06-07 10:27] lapwat commented on #1659
It seams that the real minPartSize is 16MiB.

https://github.com/minio/minio-go/blob/e517704ccb36b0a3b48907977c29506327d80f12/constants.go#L26-L28

Also, if I upload a file bigger that 1000x the minPartSize (16GiB), I get this error:

[code]

But the docs states that

I do not understand the part `or more depending on the actual file size`.

Does this mean that the PartSize is automatically comput

[2022-06-07 12:01] lapwat opened #1660 "[docs] PartSize is not automatically increased when uploading large files"
The docs states that

[code]

This is not seamless, the PartSize should actually be specified.

@harshavardhana

# Error

[code]

# Reproduce

[code]

With `filename` the path to a file bigger than 17GiB.

[2022-06-09 16:13] harshavardhana commented on #1660
@lapwat

[code]

[code]

[code]

[code]

Works fine does as documented @lapwat

[2022-06-09 16:13] #1660 closed

[2022-06-09 16:13] harshavardhana commented on #1660
This looks like your S3 compatible server implementation error, part numbers are allowed to be up to 10000 in AWS S3 spec.

[2022-06-10 11:32] balasankarc opened #1662 "Uploading files using FIPS endpoints is broken"
The following code, inspired from https://docs.min.io/docs/golang-client-quickstart-guide.html will fail because it is using a FIPS endpoint and the GetRegionFromUrl method doesn't handle FIPS endpoints.

[code]

[code]

[2022-06-10 11:35] balasankarc commented on #1662
https://github.com/minio/minio-go/pull/1663 is my WIP attempt to fix it.

[2022-06-10 20:06] #1662 closed

[2022-06-13 04:50] agnivade opened #1664 "Object is not traced when the request returns an error"
In this line https://github.com/minio/minio-go/blob/ff482a18933aa30769bfaeb7d34fa680fa51bcee/api.go#L491, we can see that if there is an error while making the request, the code returns and therefore no trace logging happens. This is unexpected behavior and makes things hard to debug. Even if the response doesn't come, the tracing logs both request and response. So it's _always_ expected to log th

[2022-06-13 05:14] harshavardhana commented on #1664
The error will be displayed at the end @agnivade - we only print when the "request" was actually sent and we did get a "Response" back.

Currently, it's not implemented to print tracing for network errors. The main reason is we use Go's `httputil` to print the relevant trace format.

Let's see if we can add this to the trace.

[2022-07-02 08:47] irwaank commented on #792
Hi @sunvim

How do I make the **PresignedGetObject()** not directly download the object, but only rendered it in browser ?
I am uploaded a picture

Thank You

[2022-07-09 07:31] hotrungnhan opened #1674 "Post policy SetContentLengthRange with min=max=0 will omit content-length-range condition ?"
I think this policy.SetContentLengthRange should throw an error if min=max=0, currently it will omit `content-length-range` make harder to predict.
![image](https://user-images.githubusercontent.com/40029631/178096363-140d3ac0-84cc-4841-bdb7-5d7f0ab21d90.png)

[2022-07-09 16:24] harshavardhana commented on #1674
Feel free to send a PR @hotrungnhan

[2022-07-12 09:38] Borosh opened #1676 "Cannot escape reserved keywords"
According to S3 docs if a word reserved, I should be able to esacpe it with backticks. In this case that reserved keyword is the Year. Unless I use select * ..., I can't read the Year column from my file.
The issue is only there at the select part, it works perfectly at the where clause.

`select s.Scenario_Source, `Year` from s3object s where CAST("Year" as FLOAT) < CAST(2086 as FLOAT) `
Result:

[2022-07-21 00:19] V3ckt0r commented on #1485
hey @harshavardhana and @albertomurillo,

Does the minio library support `source_profile` in aws config files. Such an example being
[code]

I saw PR #1486, but I don't think this fixes it. Please confirm?

[2022-07-26 14:14] emilhjd opened #1681 "Upgrading from v7.0.29 to v7.0.32 introduced a go routine leak"
Did the upgrade, noticed the leak, reverted back to v7.0.29 and the go routine leak was gone.

Will try and identify the leak more precisely, but maybe it is quite clear to someone what happened given that is was recently introduced.

[2022-07-26 14:43] harshavardhana commented on #1681
This is not enough, you have to tell us exactly what you did and profile your application share the profiles here.

[2022-07-29 18:00] harshavardhana commented on #1681
Closing @emilhjd please let us know once you have the profiles.

[2022-07-29 18:02] harshavardhana commented on #1674
This is fixed in #1675

[2022-07-29 18:02] #1674 closed

[2022-08-01 10:03] bjg2 opened #1683 "ComposeObject does not work for copying from another region"
Stating object in another region gives bad request, and ComposeObject stats sources.

This is my wild temp fix that helped me get through the issue in my local run (I added otherCli to use for stating).

![image](https://user-images.githubusercontent.com/6639273/182124236-ccbe4476-b0b8-4c9d-afe0-5ac1fd4a5a45.png)

[2022-08-01 15:01] harshavardhana commented on #1683
Please provide reproducers we cannot imagine your setup.

[2022-08-01 15:01] #1683 closed

[2022-08-01 15:21] bjg2 commented on #1683
Sorry if I wasn't clear enough.
 - I was copying objects from eu-west-1 to eu-central-1.
 - I couldn't copy objects bigger than 5GB through CopyObject(), so I had to use ComposeObject() with ranges of the source object as sources.
 - I called ComposeObject() on eu-central-1 client, as I want to compose object there.
 - ComposeObject() calls StatObject() for each source, and calls it on client on w

[2022-08-01 16:09] vadmeste commented on #1683
Are you using ComposeObject() between two separate S3 servers ?

[2022-08-01 16:23] harshavardhana commented on #1683
We still need to see the code @bjg2

[2022-08-02 10:37] alexanderpalsson commented on #1681
@harshavardhana we are having a lot of trouble with go routines getting stuck in the [for loop](https://github.com/minio/minio-go/commit/42c18ba23b76627333dbb7f292c50de3eac57c62#diff-282c3c5bf47067eafde30e0ed6f8df086049b4b48891586a3e611b01036f600bL74). Seems like the reqChannel never closes after this change https://github.com/minio/minio-go/commit/42c18ba23b76627333dbb7f292c50de3eac57c62#diff-282

[2022-08-02 16:05] harshavardhana commented on #1681
@alexanderpalsson can you take a look at the PR https://github.com/minio/minio-go/pull/1687 and test it?

[2022-08-02 23:43] #1681 closed

[2022-08-03 08:39] alexanderpalsson commented on #1681
@harshavardhana looks good thank you 😃

[2022-08-26 07:40] a1466d44-d3dc-4c0b-90c7-315b088731d7 opened #1689 "LDAP Password information disclosure when using minio behind a proxy"
When using minio with LDAP authentication behind a http proxy the LDAP username and password are visible in the URL parameter

## Expected Behaviour
As this is already a HTTP POST request, all sensitive Information should be put into the request body

## Current Behaviour
Currently sensitive information is put into the URL Parameter

## Possible Solution
Putting the sensitive information into the

[2022-08-26 07:53] harshavardhana commented on #1689
To be fixed by #1688

[2022-08-26 09:51] a1466d44-d3dc-4c0b-90c7-315b088731d7 commented on #1689
Great work, thank you for your quick response and fix _(via mail and in this issue!)_

[2022-08-29 12:10] harshavardhana commented on #1689
Fixed by https://github.com/minio/minio-go/pull/1688

[2022-08-29 12:10] #1689 closed

[2022-09-09 07:06] Fukutu opened #1693 "HealthCheck don't work"
I was trying to detect on application startup if the minio server is up but the `IsOffline`  function always returns false

example:
[code]

[2022-09-09 07:15] harshavardhana commented on #1693
@Fukutu provide invalid secret key doesn't make the healthcheck invalid. - 403 is considered as server is active and receiving requests.

Heathcheck determines server is offline if server returns 5xx or upon network errors.

[2022-09-09 07:15] #1693 closed

[2022-09-09 07:26] Fukutu commented on #1693
But with correct credentials the HealthCheck until don't detect if the server is offline

[2022-09-09 07:57] harshavardhana commented on #1693
huh?

[2022-09-12 07:57] sarnikowski opened #1694 "key is ignored when using auto-extract"
I am trying to upload a `tar.gz` file to minio and extract this to a folder within a bucket. For this purpose I am doing something along the lines of:
[code]
However, no matter what I specify in the key, the tarball is always extracted to the root of the bucket. What I would like, is to extract the content to a folder by the same name as the tarball file, without the extension. Is this possible ?

[2022-09-12 08:08] klauspost commented on #1694
@sarnikowski Yes, you must specify full paths for files in the archive. This is how it is implemented in AWS S3.

[2022-09-12 08:08] #1694 closed

[2022-09-12 08:14] sarnikowski commented on #1694
Alright. Thank you for the quick response ! :)

[2022-09-16 13:13] pracucci opened #1695 "panic: send on closed channel"
Grafana Mimir is currently vendoring Minio client v7.0.30 and an user reported the following panic:

[code]

The panic looks happening here:
https://github.com/grafana/mimir/blob/ae57256871ced9909a91269aeddb7c61a9408383/vendor/github.com/minio/minio-go/v7/api-get-object.go#L319-L323

Which according to Minio `master`  is:
https://github.com/minio/minio-go/blob/def1174273a854f399c8b5bd1dfb66189dc28

[2022-09-16 14:26] harshavardhana commented on #1695
https://github.com/minio/minio-go/commit/b65486d0c6af0b6a92f61df200240199a29f3ed6 this is also needed.

[2022-09-16 14:35] pracucci commented on #1695
Thanks for the quick reply. Will do upgrade to latest, thanks!

[2022-09-16 14:55] #1695 closed

[2022-09-21 16:12] tesshuflower opened #1697 "[Enhancement Request] Is it possible to have a way to disable sha256-simd via an env var or some other method?"
We are building `restic` (https://github.com/restic/restic) which uses `minio-go` - we're building to be FIPS-compatible, so that means it's using a version of `goboringcrypto`.

What we find is when running in FIPS enabled environments, when the CPU supports it, `minio-go` is using `sha256-simd` as a replacement for `crypto/sha256`.  This ends up creating a hash with sha256.New() which goboringcr

[2022-09-21 16:51] harshavardhana commented on #1697
We should not fail in this scenario, we should check why boring crypto is resulting in unexpected output.

[2022-09-21 17:42] tesshuflower commented on #1697
I think this is the place:

goboring tries to recognize the specific HMAC that is being used:
https://github.com/golang/go/blob/dev.boringcrypto.go1.18/src/crypto/internal/boring/hmac.go (hashToMD)

We're seeing that hashToMD is returning nil.

[2022-09-21 18:04] harshavardhana commented on #1697
Okay that is quite terrible :-)

[2022-09-21 18:06] harshavardhana commented on #1697
@aead @klauspost ^^ FYI when FIPS is compiled in.

[2022-09-26 10:19] klauspost commented on #1697
@tesshuflower The [CustomSHA256](https://github.com/minio/minio-go/blob/c2c79e711d9f5db01ecfc823c6a2017d27610717/api.go#L110) in Client options allows you to specify which sha256 hash to use.

The interface is easy to satisfy:

[code]

[2022-09-26 15:35] tesshuflower commented on #1697
@klauspost I think even if I try to set CustomSHA256 in the the client options, it still ends up calling utilities in pkg/signer that use the sha256-simd?

https://github.com/minio/minio-go/blob/master/pkg/signer/utils.go#L40

This seems to be called from bucket_cache:
https://github.com/minio/minio-go/blob/master/bucket-cache.go#L257

and I don't see where it will use the customsha256 from option

[2022-09-26 16:40] klauspost commented on #1697
I see. That is a mistake.

[2022-09-26 17:18] aead commented on #1697
Yes, a `fips` build tag is needed. FIPS / boringcrypto requires that a specific implementation of SHA-256 is used. A "custom" SHA-256 implementation (like SHA256-simd) will not work.

[2022-09-27 13:38] klauspost commented on #1697
With #1700 You can

1) Use build tag `fips`

or

2) Replace [CustomSHA256](https://github.com/minio/minio-go/blob/c2c79e711d9f5db01ecfc823c6a2017d27610717/api.go#L110). The custom sha256 will not be used for signatures.

[2022-09-27 16:58] #1697 closed

[2022-09-27 17:30] tesshuflower commented on #1697
Wow this is great! Thanks very much for the quick turnaround!

[2022-10-05 19:47] ViBiOh opened #1702 "Multipart PUT on Scaleway Object Storage broken since 7.0.37"
Hi there 👋

I have an issue when using Scaleway Object Storage since the `7.0.37`. It works fine in `7.0.36`.

It seems related to this change https://github.com/minio/minio-go/pull/1690.

Here's how I put my object

[code]

The resulting error is `The XML you provided was not well-formed or did not validate against our published schema.`.

Is there a special configuration I need to setup for Scal

[2022-10-05 19:58] harshavardhana commented on #1702
Scaleway needs to support additional checksums that AWS S3 protocol now supports. Look at the new XML schema fields that were added for CompleteMultipartUpload().

It's scaleway that needs to be fixed here.

[2022-10-05 19:58] #1702 closed

[2022-10-05 20:00] ViBiOh commented on #1702
I'll notify them. The `mc` CLI is currently still on 7.0.36 but as soon the dependency update will come, it will be broken also on the CLI :/

[2022-10-09 04:06] half-life666 opened #1703 "ListObjects V2 causes endless loop when > 1000 items"
I use below code on a prefix which have > 1000 objects, it will loop forever on first 1000 objects:
[code]

I saw there is https://github.com/minio/minio-go/issues/719 but it seems only add a validation and does not seem fix this issue.
On java sdk there is https://github.com/minio/minio-java/pull/580 which seems fixed the issue for v2,  but go sdk still have this problem.

listobject v1 works fin

[2022-10-09 04:06] harshavardhana commented on #1703
@half-life666 what is your server implementation here?

[2022-10-09 04:08] half-life666 commented on #1703
oh, it's huawei obs, do you think that's the problem?

[2022-10-09 05:02] harshavardhana commented on #1703
yes they do not implement ListObjectsV2 API or they do and implement it incorrectly - they need to send back ContinuationToken if they do not we have no way to know.

This is not our SDK bug.  However we can try to error out when such broken implementations are seen in the wild.

[2022-10-09 05:12] half-life666 commented on #1703
Thanks for pointing that out!
We could use ListObjects v1 for our side to fix our problem. But I think error out in this case is also somehow necessary, there are various s3 server side implementations, you can't expect them to be same as aws s3.

[2022-10-09 05:15] harshavardhana commented on #1703
This SDK is only meant to work with AWS S3 and its compatible implementations.  It is out of our scope for us to support obscure implementations such as Huawei OBS.

But to catch such actors we will error out when necessary conditions are not met.

[2022-10-09 05:17] #1703 closed

[2022-10-12 07:00] shabbiervempalli-yti opened #1706 "xl.meta files generated when we restored from PV"
Hi Team,

- For DR activity we have created a replication cluster we have enabled replication to all buckets

- we are not aware because of what, replication of a few objects not happened, this data was not available in the replication cluster
- then we compared the replication and active cluster data and observed many objects not replicated  and not available in the replication cluster
- then to

[2022-10-14 10:32] zadair opened #1708 "request minio fail"
hello，why that? thanks

"message":"Persist: failed to write object: Put \"http://127.0.0.1:19000/testzinc/test_minio_error/1SMmaPbnlaE/000000/000000000017.snp\": readfrom tcp 127.0.0.1:40372->127.0.0.1:19000: http: ContentLength=76 with Body length 0"

[2022-10-14 11:01] klauspost commented on #1708
Post your code, otherwise we are just guessing.

My guess is that you don't send the data by the reader you are indicating as size.

[2022-10-14 14:27] martoche commented on #1702
@ViBiOh Did you get a response from Scaleway? Are they working on a fix on their side?

[2022-10-17 02:29] zadair commented on #1708
when test zinc, print that err
https://github.com/zinclabs/zinc/blob/main/pkg/bluge/directory/minio.go

in api-put-object-streaming.go +403, reader.size == size is always true，but progressReader.size == size is sometimes false，

so, when pkg/signer/request-signature-streaming.go +288, readfrom baseReadCloser, is incorrect size

[2022-10-17 09:48] klauspost commented on #1708
@zadair

1) `size` relies on upstream code. Try using `int64(buf.Len())` instead.
2) I don't see how your code could ever have worked. [Buffer.Bytes](https://pkg.go.dev/bytes#Buffer.Bytes) should as far as I can tell always return a 0 sized slice, since it returns "the unread portion of the buffer".
3) You should not rely on `Etag == md5(content)` anyway. This is not true in many scenarios.

It co

[2022-10-17 19:42] HeySora commented on #1702
For what it's worth, OpenStack's Object Storage (for all providers using the Swift/S3 API, which is quite common) also broke because of #1690

[2022-10-18 06:57] klauspost commented on #1702
Well, the "S3 compatible services" aren't that S3 compatible then. Either way, it isn't needed, so they can breathe a sigh of relief.

[2022-10-18 19:41] binnie268 opened #1711 "PutObject for s3 csv extract fails."
Minio Version used minio-go: github.com/minio/minio-go/v7 v7.0.24
Minio bitnami chart version used: bitnami/minio:2022.8.13-debian-11-r0

So we call GetObject to retrieve a CSV file from a zip:
`func (ms minioService) GetObject(
	ctx context.Context,
	bucketName string,
	path string,
) (*minio.Object, error) {
	var opts minio.GetObjectOptions

	// Add extract zip header to request:
	opts.Set("x-mi

[2022-10-20 14:03] ViBiOh commented on #1702
Unfortunately, the latest minion version `v7.0.41` seems not fixing the issue with Scaleway Storage :/

[2022-10-20 16:03] harshavardhana commented on #1702
You need to ask them to upgrade their APIs to support this new fields.

Unfortunately we can't track what scaleway or other S3 compatible vendors don't implement. We simply follow AWS S3 implementation that's all.

[2022-10-21 07:30] klauspost commented on #1702
@ViBiOh We haven't released the change yet. Use master, an older version or wait for the release.

[2022-10-21 15:27] binnie268 commented on #1711
I upgraded minio-go to 7.0.42 and get the same issue. I am doing this:
`
**reader**, err := ms.minioClient.GetObject(ctx, bucketName, path, opts)
**fileStats**, _ := **reader.Stat()**
info, err := ms.minioClient.PutObject(ctx, bucketName, newFileName, object, **fileStats.Size**, minio.PutObjectOptions{Progress: progressBarLog})
`
Unless the reader.Stat from minio is giving back the wrong size, I a

[2022-10-21 15:29] klauspost commented on #1711
Sure I'll check it out.

[2022-10-21 18:59] klauspost commented on #1711
I think the root cause could be that you are doing multipart upload which triggers a range request which isn't supported by s3zip (and probably will not be).

You could either:

A) Disable multipart on your putobject.
B) Wrap the returned `io.Reader` in a `io.NopCloser()` to remove the Seek and ReadAt functionality from the returned reader.

Try these out and let me know your results. I will look

[2022-10-21 19:21] binnie268 commented on #1711
I will try those. Also these are my object info, let me know if there is any other information you need:
`github.com/minio/minio-go/v7.ObjectInfo {ETag: "", Key: "test2.zip/v_3_0_Issuer_Data_Filtered_[1].csv", LastModified: time.Time(2022-10-18T19:39:28Z){wall: 0, ext: 63801718768, loc: *time.Location nil}, Size: 54063851, ContentType: "text/plain; charset=utf-8", Expires: time.Time(0001-01-01T00:

[2022-10-21 19:59] binnie268 commented on #1711
Hi @klauspost,

I tried DisableMultipart: `info, err := ms.minioClient.PutObject(ctx, bucketName, newFileName, object, fileSize, minio.PutObjectOptions{Progress: progressBarLog, DisableMultipart: true})
`
and it works fine.

- Is there any disadvantage to disable multipart for s3 extracted files on PutObject? Our files can go up to **1 GB**

I tried` io.NopCloser()` and I got this error: `ERROR[20

[2022-10-24 07:39] klauspost commented on #1711
@binnie268 Could you provide a clean reproducer I can run? Or enable trace `c.TraceOn(os.StdOut)`.

Are you sure you shouldn't just use [transparent compression](https://blog.min.io/transparent-data-compression/)?

[2022-10-24 09:33] harshavardhana commented on #1708
@zadair please provide us with more precise reproducers otherwise there is nothing actionable on our end.

Assuming this to be an implementation issue in zinclabs integration. We can re-open when we have more concrete evidence to the contrary.

[2022-10-24 09:33] #1708 closed

[2022-10-25 06:32] zadair commented on #1708
that is an implementation issue in zinclabs integration

thanks

[2022-10-25 16:07] binnie268 opened #1717 "Not able to do s3 csv extract with Azure File Share PV/PVC mount"
When we use docker desktop  kubernetes with direct pv/pvc volume mount for minio, we are able to getObject with x-minio-extract: true. When we deploy the same change to our DEV  Azure kubernetes environment which is using Azure File Share, it's mounted with PV/PVC to minio, we are seeing errors.

**Versions Used:**
Minio-go 7.0.34 (7.0.42 also doesn't work)
bitnami/minio:2022.8.13-debian-11-r0
Azu

[2022-10-25 16:38] binnie268 commented on #1711
Hi @klauspost , this is the trace:
[code]

This is the code that should work:
[code]

[2022-10-25 16:56] klauspost commented on #1717
Gateway is removed, so this cannot be fixed.

[2022-10-25 16:56] #1717 closed

[2022-10-25 17:08] binnie268 commented on #1717
Understood, could we add this note into this article: https://blog.min.io/small-file-archives/

[2022-10-25 18:00] harshavardhana commented on #1711
We do not support bitnami version @binnie268 please use MinIO official containers.

[2022-10-25 21:31] #1485 closed

[2022-10-26 08:32] klauspost commented on #1717
@binnie268 The gateway has been deprecated since July 2020, and is now fully removed.

[2022-10-26 14:07] klauspost commented on #1711
I tried a standalone test using our playground. It seems a bit slow, but I will check if that is just because the playground is limiting speeds:

https://gist.github.com/klauspost/9e14d31d5917435b49bf18ee24c46525

[2022-10-26 15:40] klauspost commented on #1711
Tried the code above locally. Completes in 377.0467ms (succesfully)

So I still cannot reproduce.

[2022-10-27 12:06] ChristianKniep opened #1720 "GetObject does not fail as expected"
I might miss something obvious, but this code - with an empty bucket `configs`...

[code]
Returns the following.
[code]
The real project I am working on has the same behaviour.
Before I refactored my code `GetObject` failed with the correct error - now it does not.

[2022-10-27 12:22] ChristianKniep commented on #1720
I'll use `StatObject` before as it fails fast.

[code]

Did I somehow removed my `StatObject`? Is `GetConfig` not expected to fail with `The specified key does not exist.`?

[2022-10-27 12:46] klauspost commented on #1720
@ChristianKniep The GetObject requests are lazy and aren't run until you start reading or in your case do a Stat.

If your bucket exist there is no failure path.

[2022-10-27 12:46] #1720 closed

[2022-11-09 11:26] haunt98 opened #1722 "[Question] Strange behavior when PutObject"
After upgrade from v6 to v7, PutObject is not work reliablely.

When use client v6, I use PutObjectWithContext with timeout 30s, I see client make 3 requests, 2
failed, 1 success.

When use client v7, I use PutObject with timeout 30s, I see client make 3 requests, all failed.

Is there any idea I can debug?

[2022-11-09 12:00] klauspost commented on #1722
Please post the debug output from add `client.TraceOn(os.Stderr)`.

[2022-11-10 07:07] haunt98 commented on #1722
Looks like the bug is not related with minio-go, there is data race elsewhere in my code.

[2022-11-10 07:07] #1722 closed

[2022-11-10 13:36] PatrikMuniak opened #1723 "listObjectsV2Query not url decoding object keys"
I'm using a s3 compatible storage, not AWS S3 and when I try to list the objects of the bucket I get url encoded keys but those are not getting decoded by the method.
for example, this is what I am getting:
`bWltaXItdGVzdA%3D%3D/R2F0ZWtlZXBlckFsZXJ0cw%3D%3D`

### Expected behavior
minio should return keys url decoded
the previous string should look like this:
`bWltaXItdGVzdA==/R2F0ZWtlZXBlckFsZXJ0

[2022-11-10 14:18] #1723 closed

[2022-11-10 15:16] harshavardhana commented on #1723
Who is the S3 compatible vendor? Looks like their implementation is buggy.

[2022-11-11 11:21] PatrikMuniak commented on #1723
@harshavardhana HCP S3. Had a better look and agree with your conclusion

[2022-11-12 08:23] aubonbeurre opened #1724 "Doc issue with GetObject"
Hi !

I run into a leak when running mino with GetObject: I was using the doc and it does not call defer obj.Close()

I thought it'd be a nice addition in case people run into it as well!

[2022-11-12 08:51] harshavardhana commented on #1724
If a function returns an io.ReadCloser - by contract it is expected that you close the reader after reading, not closing is your application bug and not understanding the contract presented.

However, we will update the doc to mention closing the reader 39267760ed9bb78c88d17be63fcafcefb767a366

[2022-11-12 08:51] #1724 closed

[2022-11-16 06:17] I-Am-Nelson opened #1725 "how to create new user?"
I studied full document but there no code available for user create, user info and so.
i want to create new user with admin client with golang

[2022-11-16 06:31] poornas commented on #1725
you will have to use https://github.com/minio/madmin-go

[2022-11-16 06:31] #1725 closed

[2022-11-16 08:19] I-Am-Nelson commented on #1725
Any example code for crate user in python programming language

[2022-11-17 11:44] leowkong opened #1727 "does minio-go sdk support add expect header with 100-continue?"
does minio suppor add expect header with 100-continue?
 I saw this was merged but can not find in the newest code
https://github.com/minio/minio-go/pull/335

[2022-11-18 08:19] harshavardhana commented on #1727
it is not very useful we removed it a long time ago

[code]

[2022-11-18 08:19] #1727 closed

[2022-11-19 17:03] gaurav34065 opened #1729 "AWS me-central-1 region is not supported in endpoints"
Looks like thanos uses the [minio client](https://github.com/minio/minio-go) library to upload Prometheus data into AWS S3.
Thanos is erroring out saying `me-central-1` region is not supported as it's using minio-go internally. Can we please add support for `me-central-1` region in minio-go.
Issue for thanos : https://github.com/thanos-io/thanos/issues/5904

[2022-11-19 18:09] harshavardhana commented on #1729
Updated here https://github.com/minio/minio-go/pull/1726 should be available in next release.

[2022-11-19 18:09] #1729 closed

[2022-11-29 06:41] alex5517 opened #1731 "XML you provided was not well-formed - HCP for Cloud Scale"
Hi,

I have an issue when using Minio-go against HCP for Cloud Scale.

Here's how i put my object in my tests.
[code]
AWS SDK GO:

<CompleteMultipartUpload xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
    <Part><ETag>&#34;a8199196f91603aeeee899cee01b7ae6&#34;</ETag>
    <PartNumber>1</PartNumber></Part>
    <Part><ETag>&#34;7edf0e8a6bae1d1c9baa03971cdb690a&#34;</ETag>
    <PartNumber>2</PartNu

[2022-11-29 06:56] alex5517 commented on #1731
It also does not seem like the xmlns should be within the part section based on Amazon S3 docs: https://docs.aws.amazon.com/AmazonS3/latest/API/API_CompleteMultipartUpload.html#API_CompleteMultipartUpload_RequestSyntax

[2022-11-29 07:27] harshavardhana commented on #1731
However this should work xmlns has nothing to do with schema, almost all servers including AWS S3 work perfectly fine here.

[code]

HCP must understand that clients can choose to implement this either way, there are no specific rules here to follow.

[2022-11-29 07:42] alex5517 commented on #1731
Yea i agree that it is most likely just some strict XML checking from HCP...

[2022-11-29 17:38] Shokoufehsafa opened #1733 "Ability to update"
No way to update the bucket/object. To rename for example an object we need to copy and delete the object.

[2022-11-29 17:44] harshavardhana commented on #1733
That is S3 API - no renames allowed @Shokoufehsafa

[2022-11-29 17:44] #1733 closed

[2022-11-29 17:45] klauspost commented on #1733
That is my design. The S3 API does not provide move operations, so even if we "emulate" these it would be with the same operations.

Keeping them separate makes it clearer what should happen in terms of error handling and doesn't trick devs into thinking these are atomic operations.

[2022-11-29 17:47] Shokoufehsafa commented on #1733
Yes I know - at least this could be on one method where you can copy and delete the object, hmm?

[2022-11-29 19:50] harshavardhana commented on #1733
our APIs are an abstraction over S3 API for ease of use, i.e primitives - a move is not a primitive API it is your application logic.